.section-2 {
	.steps {
		margin: 0px 0px 30px 0px;
		position: relative;
		width: 100%;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			height: 4px;
			width: 100%;
			background-color: var(--color-gray);
			z-index: 1;
		}

		&__line2 {
			position: absolute;
			top: 50%;
			left: 0;
			width: 0;
			height: 4px;
			background-color: var(--color-gold);
			z-index: 1;
			transition: all 0.5s ease-in;
		}

		&__list {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__item2 {
			margin: 0;
			padding: 0;
			background-color: var(--color-white);
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid var(--color-gold);
			border-radius: 50%;
			transition: all 0.4s ease-in;
			position: relative;
			z-index: 2;
			cursor: pointer;

			&.active {
				background-color: var(--color-gold-light);
			}

			&:hover {
				background-color: var(--color-gold-light);
			}
		}
	}
	.progress-info {
		margin: 25px 0;
		min-height: 130px;
	}
	.item-info2 {
		display: none;

		a {
			font-weight: 500;
			color: var(--color-gold);

			&:hover {
				color: var(--color-gold-light);
			}
		}

		p {
			margin: 0px 0px 10px 0px;
		}

		&.show {
			display: block;
		}

		ul {
			padding-left: 25px;
			margin: 0px 0px 10px 0px;

			li {
				padding-left: 0;
				list-style-type: disc;
			}
		}
	}
	.progress-button {
		display: flex;
	}
	.button-steps {
		margin: 5px 5px 0px 0px;


		@media (max-width: 380px) {
			padding: 15px 40px;
		}

		&:active {
			transform: scale(0.98);
		}
	}
}
.section-1 {
	.steps {
		margin: 0px 0px 30px 0px;
		position: relative;
		width: 100%;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			height: 4px;
			width: 100%;
			background-color: var(--color-gray);
			z-index: 1;
		}

		&__line {
			position: absolute;
			top: 50%;
			left: 0;
			width: 0;
			height: 4px;
			background-color: var(--color-gold);
			z-index: 1;
			transition: all 0.5s ease-in;
		}

		&__list {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__item {
			margin: 0;
			padding: 0;
			background-color: var(--color-white);
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid var(--color-gold);
			border-radius: 50%;
			transition: all 0.4s ease-in;
			position: relative;
			z-index: 2;
			cursor: pointer;

			&._active {
				background-color: var(--color-gold-light);
			}

			&:hover {
				background-color: var(--color-gold-light);
			}
		}
	}
	.progress-info {
		margin: 25px 0;
		min-height: 180px;
	}
	.item-info {
		display: none;

		a {
			font-weight: 500;
			color: var(--color-gold);

			&:hover {
				color: var(--color-gold-light);
			}
		}

		p {
			margin: 0px 0px 10px 0px;
		}

		&._show {
			display: block;
		}

		ul {
			padding-left: 25px;
			margin: 0px 0px 10px 0px;

			li {
				padding-left: 0;
				list-style-type: disc;
			}
		}
	}
	.progress-button {
		display: flex;
	}
	.button-steps {
		margin: 5px 5px 0px 0px;


		@media (max-width: 380px) {
			padding: 15px 40px;
		}

		&:active {
			transform: scale(0.98);
		}
	}
}
