.main-block-bitrix {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		flex: 0 1 55%;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
	}

	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 40px;
		font-weight: 700;
		color: var(--color-gold);

		@media (max-width: 992px) {
			font-size: 32px;
		}

		@media (max-width: 565px) {
			font-size: 28px;
		}
	}

	&__text {
		margin: 0px 0px 25px 0px;
		font-size: 24px;
		line-height: 1.3;

		@media (max-width: 992px) {
			font-size: 22px;
		}

		@media (max-width: 565px) {
			margin: 0px 0px 30px 0px;
			font-size: 20px;
		}
	}

	&__btn {
		display: flex;
		align-items: center;

		a {
			display: inline-block;
			margin: 20px 20px 0px 0px;
		}

		&_link {
			display: inline-block;
			color: var(--color-gray-dark);
			font-size: 20px;
			font-weight: 500;
		}


		@media (max-width: 1250px) {
			display: block;
		}
	}

	&__img {
		flex: 0 1 45%;

		img {
			margin: 0 auto;
			width: 100%;
			max-width: 400px !important;
		}

		&_bitrix img {
			width: 100%;
			max-width: 600px !important;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}
}
.our-competencies {

   &__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__header {
		text-align: center;
	}

   &__column {
      flex: 0 1 33.3333%;
      padding: 0px 15px 30px;

      @media (max-width: 992px) {
         flex: 1 1 100%;

         &:nth-child(3) {
            order: 4;
         }
      }
   }

   &__item {
      padding: 30px;
		border: 1px solid var(--color-gray);
		box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   &__icon {
		margin: 0px 0px 30px 0px;

		i {
			font-size: 75px;
			color: var(--color-gold);
		}
   }

	&__title {
		margin: 0px 0px 30px 0px;
	}

   &__text {
		flex: 1 1 auto;
   }
}
.bitrix-tab {
	@media (max-width: 767px) {
		.tabs ul.nav.nav-tabs {
			display: flex;
			flex-direction: column;
		}
		.tabs .nav.nav-tabs li {
			flex: 0 1 100%;

		}
		.tabs .tab-content {
			padding: 30px 0px 0px 0px;
		}
	}
	.nav.nav-tabs {
		display: flex;
		justify-content: center;
		border: none;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}
	.tabs .nav.nav-tabs li {
		flex: 0 0 25%;
		z-index: 2;

		@media (max-width: 500px) {
			flex: 1 1 auto;
		}
	}
	.tabs .nav.nav-tabs a {
		display: flex;
		justify-content:center;
		align-items: center;
		height: 100%;
		margin: 0;
		padding: 20px 10px;
		font-size: 18px;
		color: var(--color-black);
		font-weight: 500;
		text-align: center;
		background-color: var(--color-gray);
		border: 2px solid var(--color-gray);
		transition: all 0.3s ease 0s;

		&:hover,
		&:active {
			box-shadow: inset 0 0 0 3px var(--color-white), inset 0 0 0 5px var(--color-gray);
		}
	}
	.tabs .nav.nav-tabs li.active a {
		color: var(--color-white);
		font-weight: 500;
		box-shadow: inset 0 0 0 3px var(--color-white), inset 0 0 0 5px var(--color-gold);
		pointer-events: none;

		&:before {
			display: none;
		}
	}
	.tabs .nav.nav-tabs li.active a,
	.tabs .nav.nav-tabs li.active a:hover,
	.tabs .nav.nav-tabs li.active a:focus {
		background-color: var(--color-gold);
		border: 2px solid var(--color-gold);
	}
	.tab-content > .tab-pane {
		display: none;
	}
	.tab-content > .active {
		display: block;
	}
	.item-accordion-1__head .title-h4 {
		margin: 0;
	}
	.item-accordion-1__body {
		ul {
			margin-bottom: 0;

			li:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.item-pricing {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid var(--color-gray);
	border-top: 4px solid var(--color-gold);

	&__name {
		padding: 20px 10px;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		color:var(--color-white);
		background-color: var(--color-gray-dark);
	}

	&__preview {
		padding: 20px;
		font-size: 18px;
		font-style: italic;
	}

	&__info {
		flex: 1 1 auto;
		padding: 20px;
	}

	&__text {
		margin: 0px 0px 20px 0px;
		font-weight: 500;
		font-size: 18px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		i {
			margin-right: 5px;
			color: var(--color-gold);
			font-size: 24px;
		}
	}

	&__price {
		margin: 0 30px;
		padding: 20px 0px;
		font-size: 22px;
		font-weight: 700;
		text-align: center;
		border-top: 2px solid var(--color-gold);
	}
}
