body {
  color: var(--color-black);
}
body .lock {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #FAF9FA;
  border-bottom: 1px solid var(--color-gray);
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease 0s;
}
.header.scroll {
  padding: 15px 0;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(218, 174, 113, 0.4);
}
.header__body {
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__logo {
  position: relative;
  z-index: 3;
}
.header__logo a {
  width: 44px;
}
.header__nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  margin: 0;
}
.header__list li {
  padding-left: 0;
  margin: 0px 0px 0px 48px;
}
@media (max-width: 1100px) {
  .header__list li {
    margin: 0px 0px 0px 25px;
  }
}
.header__link {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  color: var(--color-gold);
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__btns a {
  width: 228px;
  padding: 13px 0;
}
.header__btns a:not(:first-child) {
  padding: 15px 0;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 992px) {
  .header__body {
    justify-content: space-between;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .header__burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
  .header__nav {
    display: block;
    padding: 100px 0px 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0;
    transform: translateY(-120%);
    background-color: var(--color-white);
    transition: transform 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .header__nav.active {
    transform: translateY(0%);
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 20px;
  }
  .header__btns {
    display: none;
  }
}

.header__nav.active ~ .header__overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  background-color: rgba(218, 174, 113, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1;
}

.about {
  padding: 180px 0px 125px;
}
.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__info {
  flex: 0 0 592px;
  margin: 0px 90px 0px 0px;
}
.about__title {
  margin: 0px 0px 60px 0px;
  color: var(--color-gray-dark);
}
.about__text {
  font-size: 20px;
}
.about__btns {
  display: flex;
  flex-wrap: wrap;
}
.about__btns a {
  margin: 35px 35px 0px 0px;
}
@media (max-width: 992px) {
  .about {
    padding: 100px 0px 70px;
  }
  .about__body {
    flex-direction: column;
  }
  .about__info {
    flex: 1 1 auto;
    margin: 40px 0px 0px 0px;
  }
  .about__img {
    order: -1;
  }
}

.capabilities {
  padding: 45px 0px 94px 0px;
}
.capabilities__body {
  display: flex;
}
.capabilities__info {
  margin: 0px 30px 0px 0px;
  flex: 0 0 460px;
  display: flex;
  flex-direction: column;
}
.capabilities__title {
  font-size: 48px;
}
.capabilities__text {
  margin: 0px 0px 40px 0px;
  flex: 1 1 auto;
  color: var(--color-gray-dark);
}
@media (max-width: 1100px) {
  .capabilities__body {
    display: block;
  }
  .capabilities__info {
    margin: 0px 0px 40px 0px;
  }
}

.item-capabilities {
  height: 100%;
  padding: 20px;
  border: 1px solid var(--color-gray);
  display: flex;
  align-items: center;
}
.item-capabilities__icon {
  margin: 0px 20px 0px 0px;
}
.item-capabilities__icon img {
  max-width: 72px;
}
.item-capabilities__text {
  color: var(--color-gray-dark);
}

.demo {
  padding: 45px 0px;
  background-color: #034A66;
}
.demo__body {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .demo__body {
    display: block;
  }
}
.demo__title {
  margin: 0 auto;
  padding: 0px 75px 0px 20px;
  flex: 0 0 44%;
  color: var(--color-white);
  font-size: 48px;
  font-weight: 700;
}
.demo__info {
  padding: 10px 0px 10px 75px;
  flex: 0 0 56%;
  border-left: 1px solid #FAF9FA;
}
@media (max-width: 992px) {
  .demo__title {
    padding: 0px 0px 45px 0px;
  }
  .demo__info {
    padding: 45px 0px 0px 0px;
    border-left: none;
    border-top: 1px solid #FAF9FA;
  }
}

.demo-condition {
  color: var(--color-white);
}
.demo-condition:last-child {
  margin: 42px 0px 0px 0px;
}
.demo-condition:last-child .demo-condition__title {
  margin: 0;
}
.demo-condition__title {
  margin: 0px 0px 24px 0px;
  font-size: 22px;
  font-weight: 700;
}
.demo-condition__text {
  margin: 0px 0px 12px 0px;
}
.demo-condition__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.demo-condition__column {
  margin-top: 20px;
}
.demo-condition__column:first-child {
  margin-right: 30px;
}
.demo-condition__link {
  padding: 16px 24px;
  display: inline-block;
  background-color: transparent;
  font-size: 16px;
  color: inherit;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
.demo-condition__link:hover {
  color: var(--color-gold);
}
@media (max-width: 992px) {
  .demo-condition__row {
    justify-content: flex-start;
  }
}

.functions {
  margin: 75px 0px 95px;
}
.functions__title {
  font-size: 48px;
}
.functions__text {
  margin: 35px 0px 0px 0px;
  font-size: 18px;
  color: var(--color-gray-dark);
  text-align: center;
}
@media (max-width: 992px) {
  .functions {
    margin: 55px 0px 75px;
  }
}

.item-function {
  height: 100%;
  padding: 20px;
  border: 1px solid var(--color-gray);
}
.item-function__icon {
  margin: 0px 0px 20px 0px;
}
.item-function__text {
  color: var(--color-gray-dark);
}

.footer {
  position: static;
  margin-top: 0;
  padding: 50px 0;
  background-color: var(--color-gray);
}
.footer__body {
  margin: 0 -15px -30px;
  display: flex;
  flex-wrap: wrap;
}
.footer__column {
  padding: 0 15px 30px;
  flex: 0 1 33.333%;
}
.footer__column_3 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer__column_3 {
    order: -1;
  }
}
@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 768px) {
  .footer__column {
    flex: 0 1 100%;
  }
}
.footer__copyright {
  color: var(--color-gray-dark);
}
.footer__logo {
  flex: 1 1 auto;
  margin-bottom: 20px;
}
.footer__logo a {
  font-size: 22px;
  color: var(--color-black);
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.footer__logo a:hover {
  color: var(--color-gold);
}
.footer__title {
  margin: 0px 0px 20px 0px;
}
.footer__link a {
  font-size: 16px;
  color: var(--color-black);
  transition: all 0.3s ease 0s;
}
.footer__link a i {
  margin-right: 5px;
}
.footer__link a:hover {
  color: var(--color-gold);
}
.footer__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

/*# sourceMappingURL=landing-padatak.css.map */
