.main-block {
	background-color: var(--color-gray);
}
.item-main-block {
	padding: 0px 0px 32px 0px;
	height: 100%;

	&_wide {
		.item-main-block__info {
			flex: 0 0 600px;

			@media (max-width: 768px) {
				flex: 1 1 auto;
			}

			@media (max-width: 1100px) {
				flex: 0 1 600px;
			}
		}

		.item-main-block__img {
			flex: 1 1 auto;

			img {
				margin: 0 auto;
			}
		}
	}

	&__wrapper {
		height: 100%;
		padding: 30px;
		background-color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 565px) {
			padding: 20px;
		}
	}

	&__info {
		width: 100%;
		flex: 0 1 360px;
		display: flex;
		flex-direction: column;
		height: 100%;

		@media (max-width: 1200px) {
			flex: 0 0 600px;
		}

		@media (max-width: 1100px) {
			flex: 0 1 600px;
		}

		@media (max-width: 768px) {
			flex: 1 1 auto;
		}
	}

	&__title {
		margin: 0px 0px 50px 0px;
		min-height: 60px;
		font-size: 30px;
		color: var(--color-black);
		line-height: 1;
		text-transform: uppercase;
		font-weight: 900;

		@media (max-width: 1200px) {
			min-height: auto;
		}

		@media (max-width: 768px) {
			margin: 0px 0px 30px 0px;
			font-size: 22px;
		}
	}

	&__text {
		margin: 0px 0px 20px 0px;
		font-size: 18px;
		font-weight: 500;
	}

	&__list {
		flex: 1 1 auto;

		a {
			font-size: 18px;
			color: var(--color-gold);

			&:hover {
				color: var(--color-gold-light);
			}
		}
	}

	&__link {
		font-size: 18px;
		color: var(--color-black);
		position: relative;
		z-index: 2;
		transition: all 0.3s ease 0s;

		&:before {
			content:'';
			width: 130px;
			height: 3px;
			background-color: var(--color-gold);
			position: absolute;
			bottom: -3px;
			left: 0;
			z-index: 1;
			transition: all 0.3s ease 0s;
		}

		&:hover {
			&:before {
				width: 100px;
			}
		}
	}

	&__img {
		width: 250px;
		margin-left: 20px;

		@media (max-width: 1200px) {
			flex: 1 1 auto;

			img {
				margin: 0 auto;
			}
		}

		@media (max-width: 768px) {
			display: none;
		}
	}
}
.item-main-block-banner {
	margin: 0px 0px 32px 0px;
}
