.director {
	display: flex;

	&__photo {
		order: 2;
		flex: 0 1 48%;
	}

	&__description {
		order: 1;
		flex: 0 1 52%;
		padding: 15px 40px 0px 0px;
	}

	&__name {
		margin: 0px 0px 40px 0px;
		line-height: 1.2;
		font-weight: 500;

		span {
			color: var(--color-gold);
			text-transform: uppercase;
		}
	}

	&__position {
		margin: 0px 0px 40px 0px;
		font-size: 20px;
		font-weight: 500;
	}

	&__title {
		color: var(--color-gold);
	}

	@media (max-width: 700px) {
		flex-direction: column;
		align-items: center;

		&__photo {
			order: 1;
		}

		&__description {
			order: 2;
			padding: 40px 0px 0px 0px;
		}

		&__name {
			margin: 0px 0px 30px 0px;
		}

		&__position {
			margin: 0px 0px 30px 0px;
		}
	}
}

.item-managment {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;

	&__photo {
		margin: 0px 0px 20px 0px;
	}

	&__position {
		flex: 1 1 auto;
		margin: 0px 0px 20px 0px;
		font-weight: 500;
	}

	&__name {
		margin: 0px 0px 20px 0px;
		line-height: 1.2;

		span {
			color: var(--color-gold);
			text-transform: uppercase;
		}
	}

	&__text {
		font-size: 13px;
		color: var(--color-gray-dark);
		font-weight: 300;
	}
}
