.form-news {
	margin: 0px 0px 45px 0px;
	position: relative;

	&__header {
		display: none;

		@media (max-width: 768px) {
			padding: 5px 0;
			display: flex;
			align-items: center;
			box-shadow: inset 0px -3px 0px var(--color-gold);
		}
	}

	&__title-category {
		padding-right: 20px;
		flex: 1 1 auto;
		font-size: 18px;
		color: var(--color-gold);
		text-align: center;
	}

	&__button {
		i {
			font-size: 42px;
			color: var(--color-gold);
			transition: all 0.3s ease 0s;
		}

		&.active {
			i {
				transform: rotate(180deg);
			}
		}
	}


	&__body {
		padding-top: 3px;
		display: flex;
	}

	@media (max-width: 768px) {
		&__body {
			padding: 12px 0;
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 2;
			width: 280px;
			background-color: var(--color-white);
			box-shadow: 0px 4px 4px rgba(106, 58, 7, 0.25), -6px 0px 4px rgba(106, 58, 7, 0.25);

			&.active {
				display: block;
			}
		}
	}
}
.item-category {
	flex: 0 1 20%;

	input {
		display: none;

		&:checked {
			+ .item-category__label {
				color: var(--color-gold);
			}

			@media (min-width: 768px) {
				+ .item-category__label {
					background-color: var(--color-white);

					&:before {
						height: 3px;
					}
				}
			}
		}
	}

	&__label {
		margin: 0;
	}

	@media (min-width: 768px) {
		&__label {
			height: 100%;
			padding: 20px 25px;
			margin: 0;
			display: flex;
			justify-content:center;
			align-items: center;
			font-size: 16px;
			color: var(--color-gray-dark);
			font-weight: 500;
			border-right: 1px solid var(--color-white);
			background-color: var(--color-gray);
			text-align: center;
			cursor: pointer;
			position: relative;
			transition: all 0.3s ease 0s;

			&:before {
				content:'';
				width: 100.5%;
				height: 0px;
				background-color: var(--color-gold);
				position: absolute;
				left: 0;
				top: -3px;
			}

			&:hover {
				background-color: rgba(209, 210, 212, 0.5);
			}

			@media (max-width: 992px) {
				padding: 20px 15px;
			}
		}
	}

	@media (max-width: 768px) {
		&__label {
			width: 100%;
			padding: 10px 24px;
		}
	}
}