.skko-main {

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		flex: 0 0 410px;
		margin: 45px 25px 0px 0px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin: 0;
		}
	}

	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__text {
		margin: 0px 0px 40px 0px;
		font-size: 24px;
		line-height: 1.3;
	}

	&__link {
		width: 292px;
		a {
			padding-left: 0;
			padding-right: 0;
			margin: 0px 0px 20px 0px;
			width: 100%;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	&__video {
		@media (max-width: 768px) {
			display: none;
		}
	}
}
.block-information {
	padding: 7px 0px;
	border: 1px solid var(--color-gold);
	margin: 0px 0px 24px 0px;

	&__item {
		display: flex;

		&:hover {
			background-color: #eff5f7;
		}

		@media (max-width: 565px) {
			display: block;
		}
	}

	&__name {
		padding: 7px 10px;
		flex: 0 0 370px;
		color: var(--color-gold);

		@media (max-width: 768px) {
			flex: 0 1 50%;
		}
	}

	&__description {
		padding: 7px 10px;
		flex: 1 1 auto;

		a {
			font-size: 15px;
			color: var(--color-black);

			&:hover {
				color: var(--color-gold);
			}
		}

		@media (max-width: 768px) {
			flex: 0 1 50%;
		}
	}
}
.info-pks {
	border: 1px solid #ddd;
	overflow-x: auto;

	&__header {
		min-width: 500px;
		.info-pks__row {
			display: flex;
			background-color: var(--color-gold);
			color: var(--color-white);
			font-weight: 700;

			@media (max-width: 768px) {
				display: block;
			}
		}
	}

	&__body {
		min-width: 500px;

		.info-pks__row:nth-child(even) {
			background-color: #eff5f7;
		}
	}

	&__row {
		display: flex;

		@media (max-width: 768px) {
			display: block;
		}
	}

	&__left {
		display: flex;
		flex: 0 0 377px;
	}

	&__number {
		flex: 0 0 37px;
		padding: 8px;
	}

	&__denomination {
		flex: 0 0 122px;
		padding: 8px;
	}

	&__version {
		flex: 0 0 110px;
		padding: 8px;
	}

	&__conclusion {
		flex: 0 0 108px;
		padding: 8px;
	}

	&__application {
		flex: 1 1 100%;
		padding: 8px;
	}
}
.table-pks {
	@media (max-width: 640px) {
		overflow-x: auto;
	}

	th {
		position: sticky;
		top: 0;
		background-color: var(--color-gold);
		color: var(--color-white);
	}

	table {
		min-width: 600px;
		border: 1px solid #ddd;
	}

	th,
	td {
		vertical-align: top;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #eff5f7;
	}
}