.skko-main {

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		flex: 0 0 410px;
		margin: 0px 25px 0px 0px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin: 0;
		}
	}

	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__text {
		margin: 0px 0px 40px 0px;
		font-size: 24px;
		line-height: 1.3;
	}

	&__link {
		width: 292px;
		a {
			padding-left: 0;
			padding-right: 0;
			margin: 0px 0px 20px 0px;
			width: 100%;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	&__video {
		@media (max-width: 768px) {
			display: none;
		}
	}
}
