
:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gold: #c47a2c;
	--color-gold-light: #f9b974;
	--color-gray: #d1d2d4;
	--color-gray-dark: #818181;
}
.link-underline {
	padding: 2px 5px;
	position: relative;
	z-index: 1;
	transition: all 0.3s ease 0s;

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 7%;
		left: 0;
		bottom: 0px;
		background-color: var(--color-gold);
		transition: all 0.3s ease 0s;
  	}

	&:hover {
		color: var(--color-white);

		&:after {
			top: 0px;
			height: 100%;
		}
	}
}
.decor {
	transition: all 0.3s ease 0s;

	@media (hover: hover) {
		&:hover {
			box-shadow: 14px -14px transparent, 15px -15px var(--color-gold);
		}
	}
}
.line-gold {
	border-top: 2px solid var(--color-gold);
}
.list-documents {

	li {
		display: flex;
		align-items: center;
		padding: 0;
		margin-bottom: 20px;

		img {
			margin: 0px 10px 0px 0px;
		}

		a {
			font-size: 15px;
			color: var(--color-black);

			&:hover {
				color: var(--color-gold);
			}
		}
	}
}
.container-section {
	margin-bottom: 80px;

	@media (max-width: 768px) {
		margin-bottom: 50px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
.title-h1 {
	margin: 0px 0px 30px 0px;
	font-size: 32px;
	color: var(--color-gold);
	font-weight: 700;
	line-height: 1.2;
}
.title-h2 {
	margin: 0px 0px 25px 0px;
	font-size: 26px;
	color: var(--color-gold);
	font-weight: 700;
	line-height: 1.2;

	&_black {
		color: var(--color-black);
	}
}
.title-h3 {
	margin: 0px 0px 20px 0px;
	font-size: 24px;
	color: var(--color-gold);
	font-weight: 500;
	line-height: 1.2;
}
.title-h4 {
	margin: 0px 0px 15px 0px;
	font-size: 20px;
	color: var(--color-gold);
	font-weight: 500;
	line-height: 1.2;
}
.button-full {
	padding: 15px 50px;
	display: inline-block;
	font-size: 16px;
	color:var(--color-white);
	font-weight: 500;
	text-align: center;
	background-color: var(--color-gold);
	border: none;
	transition: all 0.3s ease 0s;

	&:disabled {
      background-color: var(--color-gray);
      cursor: not-allowed;
   }

	&:not([disabled]):hover {
		background-color:var(--color-gold-light);;
	}
}
.button-empty {
	padding: 11px 50px;
	display: inline-block;
	font-size: 16px;
	color:var(--color-black);
	font-weight: 500;
	text-align: center;
	background-color: var(--color-white);
	border: 2px solid var(--color-gold);
	transition: all 0.3s ease 0s;

	&:disabled {
		color:var(--color-white);
      background-color: var(--color-gray);
      cursor: not-allowed;
   }

	&:not([disabled]):hover {
		border-color:var(--color-gold-light);;
	}
}
.flex-container {
	margin: 0 -14px -28px;
	display: flex;
	flex-wrap: wrap;

	&__col-3 {
		flex: 0 1 25%;
		padding: 0 14px 28px;

		@media (max-width: 1300px) {
			flex: 0 1 50%;
		}

		@media (max-width: 565px) {
			flex: 1 1 100%;
		}
	}

	&__col-4 {
		flex: 0 1 33.333%;
		padding: 0 14px 28px;

		@media (max-width: 1300px) {
			flex: 0 1 50%;
		}

		@media (max-width: 700px) {
			flex: 1 1 100%;
		}
	}
}
.flex-block {
	margin: 0 -14px -28px;
	display: flex;
	flex-wrap: wrap;

	&__col-4 {
		flex: 0 1 33.333%;
		padding: 0 14px 28px;

		@media (max-width: 992px) {
			flex: 0 1 50%;
		}

		@media (max-width: 700px) {
			flex: 1 1 100%;
		}
	}

	&__col-6 {
		flex: 0 1 50%;
		padding: 0 14px 28px;

		@media (max-width: 700px) {
			flex: 1 1 100%;
		}
	}
}
.card-1 {
	height: 100%;
	padding: 16px;
	border: 1px solid var(--color-gray);
	display: flex;
	align-items: center;

	&__icon {
		margin: 0px 25px 0px 0px;

		img {
			max-width: 60px;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
	}
}
.card-2 {
	height: 100%;
	padding: 30px 10px 20px;
	border: 1px solid var(--color-gray);
	text-align: center;
	display: flex;
	flex-direction: column;

	&__icon {
		margin: 0px 0px 40px 0px;

		img {
			margin: 0 auto;
			max-width: 112px;
		}
	}

	&__text {
		flex: 1 1 auto;
		font-size: 14px;
		font-weight: 300;
		display: flex;
		justify-content:center;
		align-items: center;
	}
}
.link-card {
	min-height: 82px;
	height: 100%;
	padding: 16px;
	font-size: 16px;
	color: var(--color-black);
	text-align: center;
	border: 1px solid var(--color-gold);
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		color: var(--color-gold);
	}

	@media (max-width: 700px) {
		min-height: auto;
	}
}
.link-card-2 {
	height: 100%;
	padding: 54px 16px;
	border: 1px solid var(--color-gray);
	display: flex;
	align-items: center;
	color: var(--color-black);

	&__icon {
		margin: 0px 25px 0px 0px;

		img {
			max-width: 60px;
		}
	}

	&__text {
		color: var(--color-black);
		font-size: 20px;
		font-weight: 500;
	}
}
.link-card-3 {
	min-height: 160px;
	height: 100%;
	padding: 45px 16px;
	border: 1px solid var(--color-gray);
	display: flex;
	align-items: center;
	color: var(--color-black);

	&__icon {
		margin: 0px 40px 0px 0px;

		img {
			max-width: 70px;
		}

		@media (max-width: 565px) {
			margin: 0px 20px 0px 0px;

			img {
				max-width: 60px;
			}
		}
	}

	&__text {
		color: var(--color-black);
		font-size: 20px;
		font-weight: 500;
	}
}
.event-list {
	margin: 0;

	li {
		margin: 0;
		padding: 0;
		display: flex;

		&:last-child {
			.event-list__description:after {
				display: none;
			}
		}

		&:before {
			display: none;
		}
	}

	&__date {
		padding: 0 25px 25px;
		color: var(--color-gray-dark);
		font-size: 20px;
		font-weight: 500;
	}

	&__description {
		padding: 0px 0px 35px 25px;
		font-size: 16px;
		position: relative;

		&:before,
		&:after {
			content:'';
			position: absolute;
		}

		&:before {
			width: 10px;
			height: 10px;
			background-color: var(--color-gold);
			border-radius: 50%;
			top: 7px;
			left: -5px;
		}

		&:after {
			width: 2px;
			max-height: 100%;
			background-color:var(--color-gray);
			left: -1px;
			top: 20px;
			bottom: 0;
		}
	}
}
.item-accordion-1 {
	margin: 0px 0px 20px 0px;

	&:last-child {
		margin: 0px 0px 0px 0px;
	}

	&__head {
		padding: 15px 60px 15px 0;
		position: relative;
		cursor: pointer;

		&:hover {
			h4 {
				text-decoration: underline;
			}
		}

		h4 {
			margin: 0px 0px 10px 0px;
		}

		&_city {
			font-size: 15px;
			color: var(--color-gray-dark);
		}

		&_icon {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: var(--color-gray);
			display: flex;
			justify-content:center;
			align-items: center;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -20px;
			transition: all 0.3s ease 0s;
			transform: rotate(45deg);

			i {
				color: var(--color-gold);
				font-size: 22px;
				transform: translateY(1px);
			}
		}

		&.collapsed {
			.item-accordion-1__head_icon {
				transform: rotate(0deg);
			}
		}
	}

	&__body {
		.title {
			color: var(--color-gold);
		}

		ul {
			padding-left: 20px;

			li {
				list-style-type: disc;
				padding-left: 0;
			}
		}

		.btn-send-resume {
			margin-top: 40px;
		}
	}
}
.item-news {
	min-height: 200px;
	height: 100%;
	padding-bottom: 32px;

	&__wrapper {
		height: 100%;
		border: 1px solid var(--color-gold);
		display: flex;
		transition: all 0.3s ease 0s;

		&:hover {
			.item-news__title {
				color: var(--color-gold);
			}
		}
	}

	&__photo {
		margin: 10px 15px;
		flex: 0 0 175px;
		height: 175px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			inset: 0;
		}
	}

	&__content {
		width: 100%;
		padding: 15px 30px;
	}

	&__date {
		color: var(--color-gray-dark);
		font-size: 14px;
		font-weight: 300;
	}

	&__category {
		margin: 0px 0px 15px 0px;
		color: var(--color-gold);
		font-size: 14px;
		font-weight: 300;
	}

	&__title {
		margin: 0;
		color:var(--color-black);
		font-size: 18px;
		font-weight: 500;
		line-height: 1.35;
	}

	@media (max-width: 565px) {
		&__photo {
			display: none;
		}

		&__content {
			padding: 15px;
		}
	}
}
.video-player {
	margin: 24px 0px 0px 0px;
	position: relative;
	aspect-ratio: 16/9;
	overflow: hidden;

	iframe {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.info-block {
	padding: 25px;
	border: 1px solid var(--color-gold);

	&__list {
		margin: 0px;

		li:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		margin: 0px 0px 10px 0px;
	}

	&__price {
		font-size: 24px;
		font-weight: 500;
		color: var(--color-gold);
	}

	&__link {
		margin: 40px 0px 0px 0px;
		display: flex;
		align-items: center;

		a {
			font-size: 16px;
			color: var(--color-black);

			&:hover {
				color: var(--color-gold);
				text-decoration: underline;
			}
		}

		i {
			margin-right: 20px;
			font-size: 30px;
			color: var(--color-gold);
		}
	}
}
