.development__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.development__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 45px 25px 0px 0px;
}

@media (max-width: 768px) {
  .development__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }
}

.development__title {
  margin: 0px 0px 20px 0px;
  font-size: 40px;
  font-weight: 700;
  color: #C47A2C;
}

@media (max-width: 992px) {
  .development__title {
    font-size: 32px;
  }
}

@media (max-width: 565px) {
  .development__title {
    font-size: 28px;
  }
}

.development__text {
  margin: 0px 0px 45px 0px;
  font-size: 24px;
  line-height: 1.3;
}

@media (max-width: 992px) {
  .development__text {
    font-size: 22px;
  }
}

@media (max-width: 565px) {
  .development__text {
    margin: 0px 0px 30px 0px;
    font-size: 20px;
  }
}

.development__btn_link {
  margin: 0px 0px 0px 20px;
  display: inline-block;
  color: #808181;
  font-size: 20px;
  font-weight: 500;
}

.development__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 768px) {
  .development__img {
    display: none;
  }
}

.issued-editions__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.issued-editions__header {
  text-align: center;
}

.issued-editions__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0px 15px 30px;
}

.issued-editions__item {
  padding: 30px;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
          box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.issued-editions__item:hover {
  -webkit-box-shadow: 14px -14px transparent, 15px -15px #C47A2C;
          box-shadow: 14px -14px transparent, 15px -15px #C47A2C;
}

.issued-editions__icon {
  margin: 0px 0px 30px 0px;
}

.issued-editions__icon i {
  font-size: 75px;
  color: #C47A2C;
}

.issued-editions__title {
  margin: 0px 0px 30px 0px;
}

.issued-editions__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tabs .nav-tabs li.active a {
  color: #C47A2C;
}

.tabs .nav-tabs li:hover a {
  color: #C47A2C;
}

.tabs .nav-tabs li.active a:before {
  background: #C47A2C;
}
