.algorithm__title {
  margin: 0px 0px 120px 0px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.algorithm__title:before, .algorithm__title:after {
  content: "";
  width: 63px;
  border-bottom: 3px dashed #2B9040;
  position: absolute;
  bottom: -60px;
}
.algorithm__title:before {
  left: 40%;
  transform: rotate(140deg);
}
.algorithm__title:after {
  right: 40%;
  transform: rotate(-140deg);
}
@media (max-width: 991px) {
  .algorithm__title {
    margin: 0px 0px 30px 0px;
  }
  .algorithm__title:before, .algorithm__title:after {
    display: none;
  }
}
.algorithm__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 565px) {
  .algorithm__wrapper {
    margin: 0;
  }
}
.algorithm__column {
  flex: 0 1 50%;
  padding: 0 15px 30px;
}
@media (max-width: 991px) {
  .algorithm__column {
    flex: 1 1 100%;
  }
}
@media (max-width: 565px) {
  .algorithm__column {
    padding: 0 0px 30px;
  }
}
.algorithm__bottom {
  width: 100%;
  max-width: 1200px;
  margin: 65px auto 0px;
  padding: 30px 30px 30px 10px;
  border-radius: 45px;
  border: 2px solid #2B9040;
  display: flex;
  align-items: center;
  position: relative;
}
.algorithm__bottom:before, .algorithm__bottom:after {
  content: "";
  width: 45px;
  border-bottom: 2px dashed #2B9040;
  position: absolute;
  top: -45px;
}
.algorithm__bottom:before {
  left: 40%;
  transform: rotate(-140deg);
}
.algorithm__bottom:after {
  right: 40%;
  transform: rotate(140deg);
}
.algorithm__bottom img {
  margin: 0px 7px 0px 0px;
}
.algorithm__bottom ul {
  margin: 0px;
}
.algorithm__bottom ul li {
  margin: 0px 0px 5px 20px;
  padding: 0;
  list-style: disc;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .algorithm__bottom {
    margin: 30px auto 0px;
  }
  .algorithm__bottom:before, .algorithm__bottom:after {
    display: none;
  }
}
@media (max-width: 565px) {
  .algorithm__bottom {
    padding: 25px 15px;
  }
  .algorithm__bottom img {
    display: none;
  }
}
.algorithm__subtitle {
  margin: 0px 0px 15px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #2B9040;
}
.algorithm__text {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}
.algorithm__ready {
  margin: 65px auto 0;
  width: 100%;
  max-width: 305px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #FCFCFC;
  text-align: center;
  border-radius: 60px;
  background-color: #2B9040;
  position: relative;
}
.algorithm__ready:before {
  content: "";
  height: 38px;
  border-right: 2px dashed #2B9040;
  position: absolute;
  left: 50%;
  top: -53px;
}
.algorithm__ready img {
  margin: 0px 0px 0px 5px;
}
@media (max-width: 768px) {
  .algorithm__ready {
    margin: 45px auto 0;
  }
  .algorithm__ready:before {
    display: none;
  }
}

.item-algorithm {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-algorithm__head {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 565px) {
  .item-algorithm__head {
    display: block;
  }
}
.item-algorithm__title {
  flex: 0 1 434px;
  padding: 26px 0;
  font-size: 18px;
  font-weight: 500;
  color: #2B9040;
  text-align: center;
  border-radius: 60px;
  border: 3px solid #2B9040;
}
@media (max-width: 565px) {
  .item-algorithm__title {
    width: 100%;
    flex: 0 1 auto;
  }
}
.item-algorithm__step {
  flex: 0 0 133px;
  height: 133px;
  color: #FCFCFC;
  font-size: 24px;
  background-color: #2B9040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 991px) {
  .item-algorithm__step_one {
    order: 1;
  }
}
@media (max-width: 565px) {
  .item-algorithm__step {
    width: 85px;
    height: 85px;
    margin: 0 auto 10px;
  }
}
.item-algorithm__content {
  flex: 1 1 auto;
  margin: 70px 0px 0px 0px;
  padding: 30px;
  border: 2px dashed #2B9040;
  border-radius: 45px;
  position: relative;
}
.item-algorithm__content:before {
  content: "";
  height: 38px;
  border-right: 2px dashed #2B9040;
  position: absolute;
  left: 50%;
  top: -65px;
}
@media (max-width: 768px) {
  .item-algorithm__content {
    margin: 30px 0px 0px 0px;
  }
  .item-algorithm__content:before {
    display: none;
  }
}
@media (max-width: 565px) {
  .item-algorithm__content {
    padding: 25px 15px;
  }
}
.item-algorithm__item {
  margin: 0px 0px 50px 0px;
}
.item-algorithm__item:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 565px) {
  .item-algorithm__item {
    margin: 0px 0px 20px 0px;
  }
}
.item-algorithm__subtitle {
  font-size: 16px;
  font-weight: 700;
}
.item-algorithm a {
  display: inline-block;
  font-size: 14px;
  color: #2B9040;
}
.item-algorithm a:hover {
  color: #2B9040;
  opacity: 0.7;
}
.item-algorithm__text {
  font-size: 14px;
}