
// body {
// 	background-color: #ffffff;

// 	&.lock {
// 		overflow: hidden;
// 	}
// }


.wrapper-block {
	margin: 0px 0px 80px 0px;
}
.title {
   margin: 0px 0px 40px 0px;
   font-size: 28px;
   color: #C47A2C;
   font-weight: 500;
	line-height: 1.3;
	text-align: center;

   @media (max-width: 992px) {
      font-size: 26px;
      margin: 0px 0px 30px 0px;
   }

   @media (max-width: 565px) {
      font-size: 24px;
   }
}
.link-btn {
	display: inline-block;
	padding: 15px 50px;
	font-size: 20px;
	color: #272727;
	border: 2px solid #C47A2C;
	transition: all 0.3s ease 0s;

   &:hover {
      color: #ffffff;
      background-color: #C47A2C;
      box-shadow: 14px -14px #ffffff, 15px -15px #C47A2C;
   }
}
.main-editorial {

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		flex: 0 0 435px;
		margin: 45px 25px 0px 0px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin: 0;
		}
	}

	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 40px;
		font-weight: 700;
		color: #C47A2C;

		@media (max-width: 992px) {
			font-size: 32px;
		}

		@media (max-width: 565px) {
			font-size: 28px;
		}
	}

	&__text {
		margin: 0px 0px 45px 0px;
		font-size: 24px;

		@media (max-width: 992px) {
			font-size: 22px;
		}

		@media (max-width: 565px) {
			margin: 0px 0px 30px 0px;
			font-size: 20px;
		}
	}

	&__video {

		@media (max-width: 768px) {
			display: none;
		}
	}
}
.about-editorial {

	&__text {
		max-width: 945px;
		margin: 0 auto 40px;
		text-align: center;
		font-size: 16px;
	}

	&__wrapper {
		max-width: 1130px;
		margin: 0 auto;
		display: flex;
		align-items: start;
		justify-content: space-between;

		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}
}
.item-about-editorial {
	flex: 0 1 230px;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease 0s;

	&:hover {
		box-shadow: 14px -14px transparent, 15px -15px #C47A2C;
	}

	@media (max-width: 992px) {
		flex: 0 1 50%;
	}

	@media (max-width: 565px) {
		flex: 0 1 100%;
	}

	&__icon {
		margin: 0px 0px 16px 0px;
	}

	&__count {
		margin: 0px 0px 16px 0px;
		font-size: 40px;
		color: #1f1f1f;
	}

	&__text {
		flex: 1 1 auto;
		color: #737373;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
	}
}
.issued-editions {

   &__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

   &__column {
      flex: 0 1 33.3333%;
      padding: 0px 15px 15px;

      @media (max-width: 992px) {
         flex: 1 1 100%;

         &:nth-child(3) {
            order: 4;
         }
      }
   }

   &__item {
      padding: 30px 20px 20px;
		border: 1px solid #dadada;
		box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
      display: flex;
      flex-direction: column;
		align-items: center;
      height: 100%;
		transition: all 0.3s ease 0s;

		&:hover {
			box-shadow: 14px -14px transparent, 15px -15px #C47A2C;
		}
   }

   &__title {
		min-height: 48px;;
		margin: 0px 0px 10px 0px;
		font-size: 24px;
		color: #C47A2C;
		font-weight: 500;
		text-align: center;

		@media (max-width: 992px) {
			min-height: auto;
		}

		@media (max-width: 565px) {
			font-size: 20px;
		}
   }

   &__img {
		margin: 0px 0px 30px 0px;
   }

   &__text {
		flex: 1 1 auto;
		margin: 0px 0px 20px 0px;
   }
}

.advertising-placement {
	margin: 0px 0px 120px 0px;
}
@media (max-width: 767px) {
   .tabs ul.nav.nav-tabs {
      display: flex;
   }
}
.nav.nav-tabs {
   display: flex;
   justify-content: center;
   border: none;

	@media (max-width: 500px) {
		flex-direction: column;
	}
}
.tabs .nav.nav-tabs li {
   flex: 0 1 560px;
	z-index: 2;

   @media (max-width: 500px) {
   	flex: 1 1 auto;
   }
}
.tabs .nav.nav-tabs a {
	display: flex;
	justify-content:center;
	align-items: center;
	height: 100%;
   margin: 0;
   padding: 20px 70px;
   font-size: 20px;
   color: #1d1d1b;
   font-weight: 500;
   text-align: center;
   background-color: #D1D2D4;
   border: 2px solid #D1D2D4;
   transition: all 0.3s ease 0s;

   @media (max-width: 992px) {
		padding: 20px 20px;
      font-size: 20px;
   }

   &:hover,
   &:active {
      box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 5px #D1D2D4;
   }
}
.tabs .nav.nav-tabs li.active a {
   color: #ffffff;
   font-weight: 500;
   box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 5px #C47A2C;
   pointer-events: none;

   &:before {
      display: none;
   }
}
.tabs .nav.nav-tabs li.active a,
.tabs .nav.nav-tabs li.active a:hover,
.tabs .nav.nav-tabs li.active a:focus {
	background-color: #C47A2C;
	border: 2px solid #C47A2C;
}
.tabs .nav-tabs + .tab-content {
   margin-top: -39px;
   padding: 80px 15px 0;
   border: 1px solid #C47A2C;
}
.tab-content > .tab-pane {
   display: none;
}
.tab-content > .active {
   display: block;
}
.tab-subscription {
	font-size: 16px;
	a {
		font-size: 16px;
		color: #C47A2C;
		font-weight: 500;
		transition: all 0.3s ease 0s;

		&:hover {
			color: #a36523;
		}
	}

	&__title {
		color: #C47A2C;
		font-size: 20px;
		font-weight: 500;
		margin: 0px 0px 20px 0px;
	}

	&__link {
		margin: 0px 0px 10px 0px;
	}


	&__attention {
		margin: 0 auto;
		width: 100%;
		max-width: 915px;
		padding: 15px;
		font-size: 18px;
		color:#ffffff;
		font-weight: 500;
		text-align: center;
		background-color: #C47A2C;
		z-index: 2;
		transform: translateY(40px);

		@media (max-width: 565px) {
			margin: 0;
		}
	}

   ul {
      margin-bottom: 24px;

      li {
         padding-left: 0;
      }
   }
}
.terms-advertising {
	.tabs {
		margin-bottom: 0;
	}
	@media (max-width: 500px) {
		.nav.nav-tabs {
			flex-direction: row;
		}
	}
	.tabs .nav.nav-tabs li {
		flex: 0 1 20%;
	}
	.tabs .nav.nav-tabs a {
		padding: 20px 15px;
		font-size: 16px;
		font-weight: 400;

		i {
			margin: 0px 10px 0px 0px;
		}

		@media (max-width: 992px) {
			.nav-text {
				display: none;
			}
		}

		@media (max-width: 768px) {
			font-size: 16px;
		}

		@media (max-width: 565px) {
			padding: 20px 0px;
		}
	}

	.tabs .nav-tabs + .tab-content {
		margin-top: 0;
		padding: 20px 0 0 0;
		border: none;
	}
}
.kit {
	display: flex;
	margin: 45px -15px 10px;

	@media (max-width: 768px) {
		display: block;
	}

	&__item {
		margin: 0 15px 15px;
		flex: 0 1 33.333%;
		padding: 18px 20px;
		text-align: center;
		border: 1px solid #C47A2C;
		display: flex;
		justify-content:center;
		align-items: center;
	}
}

.editorial-team {
	.flexslider .slides {
		display: flex;
	}
	.flexslider:hover .flex-direction-nav .flex-prev {
		background: linear-gradient(270deg, rgba(255, 255, 255, 0) -25.44%, rgba(255, 255, 255, 0.98) 25.07%, #FFFFFF 123.75%);
		left: 0;
	}
	.flexslider:hover .flex-direction-nav .flex-next {
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) -25.44%, rgba(255, 255, 255, 0.98) 25.07%, #FFFFFF 123.75%);
		right: 0;
	}
	.flex-direction-nav a {
		width: 70px;
		height: 100%;
		margin: 0;
		font-size: 0;
		top: 0;

		&:before {
			content:'';
			width: 20px;
			height: 20px;
			border-top: 4px solid #C47A2C;
			border-left: 4px solid #C47A2C;
			top: 50%;
		}
	}
	@media (max-width: 767px) {
		.flex-direction-nav {
			display: block;
		}
	}
	.flex-direction-nav a.flex-prev:before {
		transform: rotate(-45deg);
	}
	.flex-direction-nav a.flex-next:before {
		transform: rotate(135deg);
	}
	.flex-control-nav li a {
		box-shadow: 0 0px 0px 2px #C47A2C inset;
	}
	.flex-control-paging li a:hover, .flex-control-paging li a.flex-active {
		background: #C47A2C;
	}

	@media (min-width: 768px) {
		.flex-control-nav {
			display: none;
		}
	}
}
.item-editorial-team {
	height: 100%;
	padding: 15px;
	border: 1px solid #F2F2F2;
	text-align: center;

	&__name {
		margin: 0px 0px 15px 0px;
		font-size: 16px;
		font-weight: 700;
	}

	&__position {
		font-size: 14px;
		color: #555555;
	}
}

.contacts-editorial {

	&__body {
		display: flex;
		justify-content: space-between;

		@media (max-width: 900px) {
			display: block;
		}
	}

	&__map {
		flex: 0 1 57%;

		iframe {
			width: 100%;
			height: 450px;
		}

		@media (max-width: 900px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__info {
		flex: 0 1 41%;
	}
}

.item-contacts-info {
	margin: 0px 0px 20px 0px;
	font-size: 20px;

	&__title {
		font-size: 20px;
		margin: 0px 0px 10px 0px;
		color: #C47A2C;
	}

	a {
		color: #272727;
		font-size: 20px;
		transition: all 0.3s ease 0s;

		&:hover {
			color: #C47A2C;
		}
	}

	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
