.wrapper-for-bg {
  margin: -30px -30px 0px;
}

@media (max-width: 1200px) {
  .wrapper-for-bg {
    margin: -40px -40px 0px;
  }
}

@media (max-width: 991px) {
  .wrapper-for-bg {
    margin: -40px -16px 0px;
  }
}

.online-school .color-orange {
  color: #f78103;
}

.online-school .color-orange-black {
  color: #C47A2C;
}

.online-school .decor-line {
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.online-school .decor-line:after {
  content: '';
  width: 65px;
  height: 6px;
  background-color: #F9B974;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.submit-application {
  padding: 23px 44px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border: none;
  background-color: #F9B974;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 16px 0px rgba(41, 41, 41, 0.25);
          box-shadow: 0px 9px 16px 0px rgba(41, 41, 41, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submit-application:hover {
  background-color: #f78103;
  -webkit-box-shadow: 0px 18px 32px 0px rgba(41, 41, 41, 0.25);
          box-shadow: 0px 18px 32px 0px rgba(41, 41, 41, 0.25);
}

.main-school {
  background: url("../images/new-online-school/bg-new-online-school.png") center bottom no-repeat;
}

.main-school__body {
  padding: 30px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1300px) {
  .main-school__body {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .main-school__body {
    padding: 15px;
  }
}

.main-school__content {
  padding: 50px 0px 0px 0px;
  width: 100%;
  max-width: 480px;
}

@media (max-width: 768px) {
  .main-school__content {
    padding: 25px 0px 0px 0px;
  }
}

.main-school__label {
  display: inline-block;
  margin: 0px 0px 18px 0px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 18px;
  color: #606060;
}

.main-school__subtitle {
  color: #263238;
  font-size: 24px;
}

.main-school__title {
  margin: 0px 0px 18px 0px;
  font-size: 38px;
  color: #263238;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.3;
}

.main-school__text {
  margin: 0px 0px 18px 0px;
  font-size: 22px;
  color: #263238;
}

@media (max-width: 768px) {
  .main-school__img {
    display: none;
  }
}

.who-school {
  margin: 60px 0px 100px 0px;
}

.who-school__heading {
  font-size: 28px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.who-school__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.who-school__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px 15px 15px;
}

.who-school__column_big_1, .who-school__column_big_2 {
  padding: 40px 15px 30px 15px;
}

@media (max-width: 768px) {
  .who-school__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .who-school__column_big_2 {
    padding: 15px 15px 30px 15px;
  }
}

.who-school__item {
  min-height: 250px;
  padding: 40px 40px 0;
  color: #ffffff;
  background-color: #F9B974;
  border-radius: 16px;
  position: relative;
}

.who-school__item_gray {
  color: #000000;
  background-color: #D1D2D4;
}

@media (max-width: 768px) {
  .who-school__item {
    padding: 20px 20px 0;
  }
}

.who-school__item_big {
  padding: 40px 40px 120px;
}

.who-school__title {
  margin: 0px 0px 18px 0px;
  font-size: 20px;
  font-weight: 700;
}

.who-school__title {
  font-size: 18px;
}

.who-school__icon-before {
  position: absolute;
  right: 35px;
  bottom: -52px;
}

.who-school__icon {
  text-align: right;
}

.why-us-shool {
  margin-bottom: 110px;
}

@media (max-width: 768px) {
  .why-us-shool {
    margin-bottom: 60px;
  }
}

.why-us-shool__body {
  margin: 40px 0;
  padding: 42px 0;
  background-color: #F9B974;
  position: relative;
}

.why-us-shool__img {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .why-us-shool__img {
    display: none;
  }
}

.why-us-shool__content {
  padding: 0px 0px 0px 410px;
}

@media (max-width: 1100px) {
  .why-us-shool__content {
    padding: 0px 0px 0px 310px;
  }
}

@media (max-width: 768px) {
  .why-us-shool__content {
    padding: 0 15px;
  }
}

.why-us-shool__heading {
  margin: 0px 0px 35px 0px;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}

.why-us-shool__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-us-shool__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 15px 0px;
  padding: 15px 30px;
  color: #fff;
  border-left: 2px solid #ffffff;
}

@media (max-width: 991px) {
  .why-us-shool__item {
    padding: 15px;
  }
}

@media (max-width: 565px) {
  .why-us-shool__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.why-us-shool__title {
  margin: 0px 0px 10px 0px;
  font-size: 22px;
  font-weight: 700;
}

.why-us-shool__text {
  font-size: 20px;
  font-weight: 300;
}

.footer-school {
  margin: 0px 0px 40px 0px;
}

.footer-school__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .footer-school__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-school__content {
  width: 100%;
  max-width: 520px;
  padding: 0px 20px 0px 0px;
}

@media (max-width: 991px) {
  .footer-school__content {
    padding: 0px 0px 50px 0px;
  }
}

.footer-school__title {
  font-size: 28px;
  font-weight: 500;
}

.footer-school__text {
  margin: 0px 0px 5px 0px;
  font-size: 22px;
}

.footer-school__author {
  margin: 0px 0px 40px 0px;
  font-size: 22px;
  font-weight: 700;
}

.footer-school__label {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  font-weight: 500;
}

.footer-school__slider {
  width: 100%;
  max-width: 730px;
}

.slider-footer-school {
  padding: 0px 0px 40px 0px;
  position: relative;
}

.slider-footer-school__title {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  font-weight: 500;
}

.slider-footer-school__title img {
  margin: 0px 20px 0px 0px;
}

.slider-footer-school__video {
  width: 100%;
  padding: 0px 0px 56.3% 0px;
  position: relative;
  overflow: hidden;
}

.slider-footer-school__video iframe {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-footer-school .carousel-indicators {
  bottom: 0px;
  left: 50%;
  width: 60%;
  margin: 30px 0px 0px 0px;
  margin-left: -30%;
  padding-left: 0;
  text-align: center;
}

.slider-footer-school .carousel-indicators li {
  border: none;
  background-color: #E0E0E0;
  margin: 0 5px;
}

.slider-footer-school .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  background-color: #F9B974;
}
