.use-btn {
	display: block;
	width: 123px;
	height: 45px;
	border-radius: 4px;
	color:#fff;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	line-height: 45px;
	transition: all 0.3s ease 0s;

	&:hover {
		color:#fff;
	}

	&_yellow {
		background-color: #F38B04;

		&:hover {
			background-color: #f38b04c7;
		}
	}

	&_green {
		background-color: #006F53;

		&:hover {
			background-color: #006f53bb;
		}
	}
}
.container-use {
	padding: 20px;
	background: #F5F5F5;
	
	&_bg {
		padding: 0;
		margin: -30px -30px 30px;
		background: #F5F5F5 url('../images/use-equipment-bg.png') right top no-repeat;

		@media (max-width: 768px) {
			background: #F5F5F5;
		}
	}

	@media (max-width: 1200px) {
		margin: -40px -40px 30px;
		padding: 20px 40px 10px;
	}
	
	@media (max-width: 991px) {
		margin: -40px -16px 30px;
		padding: 30px 20px;
	}
	
	@media (max-width: 768px) {
		padding: 20px 16px;
	}
}
.main-use-equipment {
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	&__content {
		flex: 0 0 460px;

		@media (max-width: 768px) {
			flex: 1 1 auto;
			margin: 0px 0px 10px 0px;
			text-align: center;
		}
	}

	&__subtitle {
		margin: 0px 0px 5px 0px;
		font-size: 16px;
		line-height: 22 / 16 * 100%;
	}

	&__title {
		margin: 0px 0px 20px 0px;
		color: #006F53;
		font-size: 26px;
		font-weight: 700;
		line-height: 35 / 26 * 100%;
	}

	&__buttons {
		display: flex;

		@media (max-width: 768px) {
			margin: 20px 0px 0px 0px;
		}
	}

	&__btn {
		margin: 0px 17px 0px 0px;
	}
}
.video-content {
	margin: 0px 0px 30px 0px;
}
.use-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	@media (max-width: 565px) {
		margin: 0;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 15px 30px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}

		@media (max-width: 565px) {
			padding: 0 0px 30px;
		}
	}

	&__item {
		height: 100%;
		padding: 15px;
		background-color: #F5F5F5;
		border-radius: 4px;
	}

	&__videos {
		width: 100%;
		padding: 0px 0px 56.3% 0px;
		// aspect-ratio: 16 / 9;
		position: relative;
		border-radius: 23px;
		overflow: hidden;

		iframe {
			object-fit:	cover;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

	}
}
.use-video {

	&__title {
		margin: 0px 0px 7px 0px;
		font-size: 16px;
		font-weight: 700;
	}

	&__subtitle {
		margin: 0px 0px 20px 0px;
		font-size: 14px;
	}

	&__video {
		width: 100%;
		padding: 0px 0px 56.3% 0px;
		position: relative;
		border-radius: 4px;
		overflow: hidden;

		iframe {
			object-fit:	cover;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

	}
}
.use-test {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	background: url('../images/test-bg.png') top / cover no-repeat;

	&:hover {
		.use-test__btn {
			background-color: #F38B04;
		}
	}

	&__title {
		padding: 30px 0px 0px 0px;
		text-align: center;
		font-size: 30px;
		color:#fff;
		font-weight: 700;
		line-height: 1.3;
	}

	&__subtitle {
		margin: 0px 0px 30px 0px;
		text-align: center;
		font-size: 15px;
		color:#fff;
	}

	&__btn {
		margin: 0px 0px 25px 0px;
		padding: 5px 12px;
		font-size: 13px;
		color: #585858;
		background-color: #fff;
		border-radius: 20px;
	}
}
.use-link-block {
	padding: 40px 30px;
	display: flex;
	background-color: #F5F5F5;
	border-radius: 4px;
	transition: all 0.3s ease 0s;

	@media (max-width: 565px) {
		padding: 20px 10px;
	}

	&__text {
		margin: 0px 0px 0px 10px;
		font-size: 16px;
		font-weight: 500;
		color: #333333;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		box-shadow: 0px 4px 27px rgb(174 174 174 / 50%);

		.use-link-block__text {
			color: #F38B04;
		}
	}
}
.use-question {
	padding: 20px;
	background-color: #F5F5F5;

	@media (max-width: 1200px) {
		padding: 20px 0;
	}

	&__title {
		margin: 0px 0px 25px 0px;
		font-size: 16px;
		font-weight: 700;
	}
}
.use-accordion {
	background-color: #F9F9F9;
	
	&__head {
		padding: 25px;
		font-size: 13px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		@media (max-width: 565px) {
			padding: 10px;
		}
		
		i {
			margin: 0px 0px 0px 20px;
			// transform: rotate(180deg);
		}
		
		// .collapsed {
		// 	i {
		// 		transform: rotate(0deg);
		// 	}
		// }
		
		&:hover {
			color: #F38B04;

			.use-accordion__title:before {
				background-color: #F38B04;
			}
		}
	}

	&__title {
		padding: 0px 0px 0px 10px;
		position: relative;

		&:before {
			content:'';
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: #333333;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}

	&__body {
		padding: 0 25px 25px;
	}
}



















.item-equipment {
	background: url('../images/bg-items.png') top left no-repeat;
	padding: 30px 15px;
	margin: 0 -30px;

	@media (max-width: 1200px) {
		margin: 0 -40px;
	}

	@media (max-width: 991px) {
		margin: 0px -16px;
		padding: 30px 20px;
	}

	&_three {
		padding: 30px 20px 0px;
	}

	&_even {
		background-image: none;
		background-color: #f3f3f3;
		padding: 30px 30px 30px 30px;
		margin: 0 -30px;

		@media (max-width: 1200px) {
			margin: 0 -40px;
		}
	
		@media (max-width: 991px) {
			margin: 0px -16px;
			padding: 30px 20px;
		}

		.item-equipment__heading {
			margin: 0px 0px 25px auto;
		}

		.item-equipment__body {
			flex-direction: row-reverse;

			@media (max-width: 1250px) {
				flex-direction: column;
			}
		}

		.item-equipment__content {
			margin: 0px 0px 0px 20px;

			@media (max-width: 768px) {
				margin: 0;
			}
		}

		.label-item-equipment {
			flex-direction: row-reverse;

			@media (max-width: 1250px) {
				flex-direction: column;
				align-items: center;
			}
		}

		.label-item-equipment__arrow {
			margin: 0px 0px 0px 40px;
			transform: rotate(180deg);

			@media (max-width: 1250px) {
				margin: 0px 0px 40px 0px;
				transform: rotate(90deg);
			}

			@media (max-width: 565px) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	
	&__heading {
		width: 100%;
		max-width: 800px;
		display: flex;
		align-items: center;
		margin: 0px 0px 25px 0px;

		@media (max-width: 565px) {
			align-items: flex-start;
		}
	}
	
	&__img {
		img {
			max-width: 100%;
		}
	}
	
	&__title {
		flex: 0 1 580px;
		margin: 30px 10px 0px 15px;
		padding: 45px;
		font-size: 18px;
		color: #333333;
		line-height: 1.3;
		background-color: #FEF2CC;
		border-radius: 24px;
		position: relative;
		
		&:before {
			content:'';
			width: 100%;
			height: 100%;
			border-radius: 24px;
			border: 2px solid #787777;
			position: absolute;
			top: 12px;
			left: 12px;
		}

		@media (max-width: 565px) {
			margin: 0px 10px 10px 10px;
			padding: 25px;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content {
		flex: 0 1 800px;
		margin: 0px 20px 0px 0px;

		@media (max-width: 1250px) {
			flex: 1 1 auto;
			margin: 0;
		}
	}
}
.info-item-equipment {
	display: flex;
	justify-content: space-between;

	@media (max-width: 991px) {
		justify-content: space-around;
		margin: 0px 0px 40px 0px;
	}

	@media (max-width: 768px) {
		flex-direction: column;
	}

	@media (max-width: 565px) {
		margin: 0px 0px 20px 0px;
	}

	&__column {
		flex: 0 1 340px;

		@media (max-width: 768px) {
			flex: 1 1 auto;
			max-width: 450px;
		}

		&_trade {
			@media (min-width: 991px) {
				margin: 0px 20px 0px 0px;
			}
			
			.info-item-equipment__item:before {
				background: url('../images/check-green.png') 0 0 no-repeat;

				@media (max-width: 565px) {
					background-size: 40px;
				}
			}

			.info-item-equipment__item:hover:after {
					background: url('../images/icon-book.svg') 0 0 no-repeat;
					background-size: 26px;
				
			}

			.accordion-info-equipment__title {
				color: #188B30;
			}

			@media (max-width: 768px) {
				margin: 0px 0px 30px 0px;
			}
		}
	}

	&__item {
		min-height: 100px;;
		margin: 0px 0px 0px 15px;
		padding: 12px 35px 35px 80px;
		font-size: 14px;
		color: #333333;
		line-height: 20 / 14 * 100%;
		background-color: #EFEEEE;
		border-radius: 10px;
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:not(:last-child) {
			margin: 0px 0px 25px 15px;
		}

		&:before {
			content:'';
			width: 80px;
			height: 60px;
			background: url('../images/check-yellow.png') 0 0 no-repeat;
			position: absolute;
			top: 8px;
			left: -14px;
		}

		&:after {
			content:'';
			width: 26px;
			height: 26px;
			background: url('../images/icon-book-gray.svg') 0 0 no-repeat;
			background-size: 26px;
			position: absolute;
			bottom: 10px;
			right: 10px;

			@media (max-width: 991px) {
				display: none;
			}
		}

		@media (max-width: 991px) { 
			padding: 12px 12px 12px 80px;
			cursor: default;
		}

		@media (max-width: 565px) {
			padding: 12px 12px 12px 40px;
			margin: 0px 0px 0px 8px;

			&:not(:last-child) {
				margin: 0px 0px 20px 8px;
			}

			&:before {
				background-size: 40px;
				top: 15px;
				left: -8px;
			}
		}

		&:hover {
			@media (hover: hover) {
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			}

			&:after {
				background: url('../images/icon-book-orange.svg') 0 0 no-repeat;
				background-size: 26px;
			}
		}

	}
}
.label-item-equipment {
	display: flex;
	align-items: center;

	@media (max-width: 991px) {
		display: none;
	}

	&__arrow {
		margin: 0px 40px;

		@media (max-width: 1250px) {
			margin: 0 20px;
		}
	}

	&__content {
		width: 290px;
		margin: 0px 18px 0px 0px;
		padding: 30px 20px 20px 30px;
		background-color: rgba(24, 139, 49, 0.1);
		border-radius: 24px;
		position: relative;

		&:before {
			content:'';
			width: 106%;
			height: 100%;
			border-radius: 24px;
			border: 2px solid #787777;
			position: absolute;
			top: 12px;
			left: 0px;
		}
	}

	&__title {
		padding: 0px 0px 0px 65px;
		margin: 0px 0px 20px 0px;
		color: #188B30;
		font-size: 20px;
		font-weight: 500;
		line-height: 44px;
		background: url('../images/icon-book.svg') left no-repeat;
	}

	&__item {
		display: none;
		font-size: 18px;
		font-weight: 500;

		&._active {
			display: block;
		}
	}
}
.accordion-info-equipment {
	display: none;

	@media (max-width: 991px) {
		display: block;

		&__head {
			padding: 20px 0 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
		}

		&__title {
			font-size: 14px;
			color: #F5BD4E;
		}
	}
}
.use-equipment {
	padding: 30px 15px;
	margin: 70px -30px 0px;

	@media (max-width: 1200px) {
		margin: 70px -40px 0px;
	}

	@media (max-width: 991px) {
		margin: 40px -16px 0px;
		padding: 30px 20px;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		margin: 0px 0px 15px 0px;
	}

	&__body {
		margin: 0px -16px;
		display: flex;
		justify-content: space-between;
		
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__col {
		padding: 40px 16px 15px;
		flex: 0 1 600px;

		@media (max-width: 768px) {
			flex: 1 1 auto;
		}
	}
	
	&__item {
		height: 100%;
		margin: 0px 36px 0px 0px;
		padding: 0px 70px 25px;
		background-color: rgba(24, 139, 49, 0.1);
		border-radius: 24px;
		position: relative;
		
		&:before {
			content:'';
			width: 106%;
			height: 100%;
			border-radius: 24px;
			border: 2px solid #787777;
			position: absolute;
			top: 12px;
			left: 0px;
		}

		@media (max-width: 991px) {
			padding: 0px 40px 25px;
		}

		@media (max-width: 565px) {
			padding: 0px 20px 25px;
		}
	}

	&__icon {
		margin: -30px 0px 0px -20px;

		@media (max-width: 991px) {
			margin: -30px 0px 0px 0px;
		}

		@media (max-width: 565px) {
			margin: -30px 0px 0px 20px;
		}
	}

	&__link {
		margin: 5px 0px 0px 0px;
		display: block;
		font-size: 16px;
		font-weight: 500;
		color: #333333;
		cursor: pointer;

		&:hover {
			color: #188B30;
		}
	}
}

