
body {
	background-color: #ffffff;
	// font-family: 'Open Sans', sans-serif;

	&.lock {
		overflow: hidden;
	}
}
// a {
// 	transition: all 0.3s ease 0s;

// 	&:hover {
// 		text-decoration: none;
// 		color: inherit;
// 	}
// }

// input {
// 	outline: none;
// }
// input:-webkit-autofill {
// 	-webkit-box-shadow: inset 0 0 0 50px #464646 !important;
// 	-webkit-text-fill-color: #F2F2F2 !important;
// 	color: #F2F2F2 !important;
// }
// .wrapper-skko {
// 	padding: 20px;

// 	@media (min-width: 1200px) {
// 		margin: -30px;
//       padding: 60px 30px;
// 	}

// 	@media (max-width: 565px) {
// 		padding: 0;
// 	}
// }
.link {
	font-size: 22px;
	color: #272727;
	font-weight: 600;
	line-height: 1.13;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	
	&_phone {
		font-weight: 700;
		
		span {
			color: #DFDFDF;
		}
	}
	
	&_norm {
		font-weight: 400;
	}
	
	&:hover {
		color: #EA7B00;
	}
}
// ================================================================================
.main-header {
	font-size: 28px;
	color: #0A0A0A;
	font-weight: 700;
}
.main-title {
	font-size: 24px;
	color: #0A0A0A;
	font-weight: 700;
}
.bg-icon {
	background-color: #188B30;
	border-radius: 50%;
	display: flex;
	justify-content:center;
	align-items: center;
}
// ================================================================================
.instruction {
	margin: 0px 0px 60px 0px;

	@media (max-width: 565px) {
		margin: 0px 0px 30px 0px;
	}

	&__header {
		margin: 0px 0px 30px 0px;
	}

	&__title {
		margin: 0px 0px 45px 0px;

		@media (max-width: 565px) {
			margin: 0px 0px 25px 0px;
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;

		@media (max-width: 565px) {
			margin: 0;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 30px 20px;

		@media (max-width: 1200px) {
			flex: 0 1 50%;
		}

		@media (max-width: 850px) {
			flex: 1 1 100%;
		}

		@media (max-width: 565px) {
			padding: 20px 0px 25px;
		}
	}

}
.item-instruction {
	background-color: #F5F4F4;
	border-radius: 28px;
	padding: 30px;
	position: relative;

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px -30px 0px;
		height: 100%;

		@media (max-width: 565px) {
			margin: 0;
		}
	}
	
	&__icon {
		flex: 0 0 116px;
		height: 116px;
		transform: translateY(-60px);

		img {
			max-width: 66px;
		}

		@media (max-width: 565px) {
			flex: 0 0 60px;
			height: 60px;
			transform: translateY(-50px);

			img {
				max-width: 20px;
			}
		}
	}
	
	&__title {
		flex: 1 1 auto;
		color: #333333;
		font-size: 22px;
		margin: 0px 10px 0px 0px;

		@media (max-width: 565px) {
			
		}
	}

	&__more-details {
		// margin: 0px 0px 20px 0px;
		font-size: 16px;
		color: #4F4F4F;

		&:hover {
			color: #188B30;
		}
	}
}
.video-instruction {

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -25px;

		@media (max-width: 565px) {
			margin: 0;
		}
	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 25px 50px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}

		@media (max-width: 565px) {
			padding: 0 0px 30px;
		}
	}
}
.item-video-instruction {

	&__title {
		margin: 0px 0px 5px 0px;
		font-size: 20px;
		color: #0A0A0A;
		font-weight: 500;

		@media (max-width: 565px) {
			font-size: 18px;
		}
	}

	&__video {
		width: 100%;
		padding: 0px 0px 56.3% 0px;
		// aspect-ratio: 16 / 9;
		position: relative;
		border-radius: 23px;
		overflow: hidden;

		iframe {
			object-fit:	cover;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

	}
}
// ================================================================================
.list-article {

	&__header {
		margin: 0px 0px 20px 0px;
	}

}
.article-header {
	display: flex;
	align-items: center;
	margin: 0px 0px 30px 0px;

	&__icon {
		width: 60px;
		height: 60px;
		margin: 0px 15px 0px 0px;

		img {
			max-width: 32px;
		}
	}
}
.item-list-article {
	margin: 0px 0px 30px 0px;

	&:last-child {
		margin: 0px 0px 0px 0px;
	}

	&__title {
		padding: 0px 0px 0px 28px;
		margin: 0px 0px 15px 0px;
		font-size: 20px;
		color: #0A0A0A;
		font-weight: 700;
		position: relative;

		&:before {
			content:'';
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background-color: #0A0A0A;
			position: absolute;
			top: 10px;
			left: 11px;
		}
	}

	&__info {
		margin: 0px 0px 15px 0px;
		color: #0A0A0A;
		font-size: 16px;
		font-weight: 500;
	}

	&__read-more {
		color: #0A0A0A;
		font-size: 16px;
		font-weight: 700;

		&:hover {
			color: #188B30;
		}
	}
}
// ================================================================================
.item-article {

	&__title {
		margin: 0px 0px 30px 0px;
		font-size: 26px;
		color: #0A0A0A;
		font-weight: 700;
	}

	p {
		margin: 0px 0px 30px 0px;
		font-size: 18px;
		color: #0A0A0A;
		font-weight: 500;
	}

	&__image {
		margin: 0px 0px 30px 0px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.item-accordion-wrapper {
		margin: 0px 0px 20px 0px;
		border: none;
		border-radius: 28px;
		background-color: #F5F4F4;
	}

	.accordion-body {
		padding: 10px 25px 0;
	}

	li {
		font-size: 18px;
		color: #0A0A0A;
		font-weight: 500;
	}
}
// ================================================================================
.skko {
	background: url('../images/skko-bg.jpg') center /cover no-repeat;
	margin: -60px -32px 0px;

	@media (min-width: 991px) {
		margin: -60px -60px 0px;
	}

	@media (min-width: 1200px) {
		margin: -60px -30px 0px;
	}

	&__body {
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media (max-width: 768px) {
			display: block;
			padding: 20px;
		}
	}
	
	&__content {
		width: 100%;
		max-width: 350px;
		margin: 55px 20px 35px 0px;
		line-height: 1.3;

		@media (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__column {
		@media (max-width: 768px) {
			display: none;
		}
	}
	
	&__title {
		margin: 0px 0px 10px 0px;
		font-size: 24px;
		color: #2B9140;
		font-weight: 700;
	}

	&__subtitle {
		margin: 0px 0px 10px 0px;
		font-size: 20px;
		font-weight: 700;
	}

	&__text {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.3;
		margin: 0px 0px 30px 0px;
	}

	li {
		position: relative;
		margin: 0px 0px 0px 0px;

		&:before {
			content:'';
			width: 3px;
			height: 3px;
			background-color: #000000;
			border-radius: 2px;
			position: absolute;
			top: 11px;
			left: 7px;
		}
	}

	&__btn-enter {
		margin: 0px 25px 0px 0px;
		padding: 15px 10px;
		font-size: 16px;
		color: #fefefe;
		font-weight: 600;
		background-color: #2B9140;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #EA7B00;
			color: #fefefe;
		}
	}
}
.menu-skko {
	padding: 60px 0 0;

	@media (max-width: 565px) {
		padding: 30px 0 0;
	}

	&__subtitle {
		margin: 0px 0px 35px 0px;
		font-size: 26px;
		color: #272727;
		font-weight: 700;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		@media (max-width: 900px) {
			margin: 0 -10px;
		}
	}

	&__column {
		padding: 0 15px 30px;
		flex: 0 1 50%;

		@media (max-width: 900px) {
			flex: 0 1 100%;
			padding: 0 0px 20px;
		}
	}
	
	&__item {
		padding: 30px;
		background-color: #F6F6F6;
		transition: all 0.3s ease 0s;
		display: flex;
		flex-direction: column;
		height: 100%;

		&:hover {
			box-shadow: 0px 4px 27px rgba(174, 174, 174, 0.5);
		}
	}

	&__title {
		display: flex;
		align-items: center;
		font-size: 22px;
		color: #3D3A38;
		font-weight: 800;
	
		img {
			margin: 0px 30px 0px 0px;
		}
	}

	&__text {
		margin: 0px 0px 30px 0px;
		font-size: 18px;
		color: #272727;
		font-weight: 600;
		line-height: 1.35;
	}
}
.menu-skko-btn {
	padding: 30px;
	background-color: #F6F6F6;
	display: flex;
	align-items: center;
	font-size: 22px;
	color: #3D3A38;
	font-weight: 700;
	transition: all 0.3s ease 0s;

	img {
		margin: 0px 30px 0px 0px;
	}

	&:hover {
		box-shadow: 0px 4px 27px rgba(174, 174, 174, 0.5);
		color: #EA7B00;
	}

	@media (max-width: 565px) {
		padding: 15px;
		font-size: 18px;
	}
}
// ================================================================================
.skko-list {
	padding: 0;
	margin: 0;
	
	li {
		padding: 0;
		list-style-type: none;
		margin: 0px 0px 20px 0px;
		font-size: 22px;
		color: #272727;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
.accordion-skko {
	
	&__btn {
		padding: 15px 0 15px 20px;
		border: 0;
		background-color: transparent;
		position: relative;

		
		&:before {
			content:'';
			width: 8px;
			height: 8px;
			border-top: 2px solid #272727;
			border-right: 2px solid #272727;
			transform: rotate(135deg);
			position: absolute;
			top: 45%;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		&.collapsed:before {
			transform: rotate(45deg);
		}

		&:hover {
			&:before {
				border-color: #2B9140;
			}
		}
	}

	&__body {
		padding: 10px 0 20px;

		li {
			margin: 0px 0px 20px 20px;
		}
	}
}
.support {
	background-color: #FCFCFC;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 100%;
		max-width: 440px;
	}

	&__title {
		font-size: 42px;
		color: #272727;
		font-weight: 700;
		line-height: 1.36;
	}
}


 