
body {
	background-color: #ffffff;

	&.lock {
		overflow: hidden;
	}
}
// a {
// 	transition: all 0.3s ease 0s;

// 	&:hover {
// 		text-decoration: none;
// 		color: inherit;
// 	}
// }

// input {
// 	outline: none;
// }
// input:-webkit-autofill {
// 	-webkit-box-shadow: inset 0 0 0 50px #464646 !important;
// 	-webkit-text-fill-color: #F2F2F2 !important;
// 	color: #F2F2F2 !important;
// }
.wrapper-online-school {
	padding: 50px;

	@media (max-width: 1200px) {
		padding: 0px;
	}
}
.wrapper-block {
	margin: 0px 0px 80px 0px;

	@media (max-width: 992px) {
		margin: 0px 0px 60px 0px;
	}
	@media (max-width: 768px) {
		margin: 0px 0px 40px 0px;
	}
}
.heading {
   margin: 0px 0px 40px 0px;
   font-size: 30px;
   color: #070707;
   font-weight: 700;
	line-height: 1.3;
	letter-spacing: 1.5px;

   span {
      color: #188B30;
   }

   @media (max-width: 992px) {
      margin: 0px 0px 30px 0px;
      font-size: 26px;
   }

   @media (max-width: 565px) {
      font-size: 24px;
		margin: 0px 0px 15px 0px;
   }
}
.title {
   font-size: 22px;
   font-weight: 700;

   @media (max-width: 565px) {
      font-size: 20px;
   }
}
.text {
   font-size: 18px;

	&_green {
		color: #188B30;
	}
}
.about {
	
   &__body {

		@media (min-width: 992px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
   }

   &__content {
      flex: 0 0 600px;

		@media (max-width: 992px) {
			width: 100%;
		}
   }

   &__label {
      margin: 0px 0px 35px 0px;
      font-size: 20px;
      color: #555;

		@media (max-width: 768px) {
			font-size: 18px;
			margin: 0px 0px 20px 0px;
		}
   }

   &__title {
		margin: 0;
      color: #188B30;
      font-size: 55px;
      font-weight: 700;
      line-height: 1.3;

		@media (max-width: 992px) {
			font-size: 40px;
		}

		@media (max-width: 768px) {
			font-size: 24px;
		}
   }

   &__subtitle {
      margin: 0px 0px 40px 0px;
      font-size: 30px;
      color: #070707;

		@media (max-width: 992px) {
			font-size: 26px;
		}

		@media (max-width: 768px) {
			font-size: 22px;
			margin: 0px 0px 25px 0px;
		}
   }

   &__text {
      margin: 0px 0px 40px 0px;
      font-size: 24px;
		color: #353535;
      font-weight: 300;
		line-height: 31 / 24 * 100%;
		letter-spacing: 1px;

		@media (max-width: 768px) {
			font-size: 18px;
			margin: 0px 0px 25px 0px;
		}
   }

   &__row {
      display: flex;
		flex-wrap: wrap;
   }

   &__link {
		display: block;
      color: #188B30;
      font-size: 20px;
      line-height: 62px;
      transition: all 0.3s ease 0s;

      &:hover {
         color: #1FC742;
      }

      &_btn {
         margin: 0px 40px 20px 0px;
         padding: 0px 40px;
         color: #f4f4f4;
         font-weight: 500;
         text-align: center;
         background-color: #188B30;
         border-radius: 23px;

         &:hover {
            background-color: #1FC742;
            color: #f4f4f4;
         }
      }
   }

   &__agree {
      width: 255px;
      font-size: 12px;
		line-height: 1.25;
   }

   &__image {
		margin: 0px 0px 0px 20px;
		flex: 1 1 auto;
		text-align: center;

      img {
         max-width: 100%;
      }

		@media (max-width: 992px) {
			display: none;
		}
   }

   &__bottom {
		margin: 40px 0px 0px 0px;

		@media (max-width: 768px) {
			margin: 25px 0px 0px 0px;
		}

		@media (min-width: 992px) {
			margin: 50px 0px 0px 0px;
			display: flex;
			justify-content: flex-end;
		}

      @media (max-width: 565px) {
			margin: 0;
		}
   }

   &__prompt {
      font-size: 18px;
      font-weight: 300;
      font-style: italic; 

		@media (min-width: 992px) {
			flex: 0 0 50%;
			position: relative;

			&:before {
				content: '';
				background: url('../images/online-shool/line-arrow.png') 0 0 no-repeat;
				width: 75px;
				height: 78px;
				position: absolute;
				bottom: 106%;
				right: 98%;
			}
		}

      
   }
}
.audience {
   &__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

   &__column {
      flex: 0 1 50%;
      padding: 0px 15px 30px 15px;

      &:nth-child(2),
      &:nth-child(3) {
         .audience__item {
            background-color: #188B30;
            color: #f5f5f5;
         }
      }

      @media (max-width: 768px) {
         flex: 1 1 100%;

         &:nth-child(3) {
            order: 4;
         }
      }

      @media (max-width: 565px) {
         padding: 0px 15px 15px 15px;
      }
   }

   &__item {
      padding: 30px 60px;
      background-color: #e5e5e5;
      border-radius: 23px;
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (max-width: 565px) {
         padding: 20px 20px;
      }
   }

   &__title {
      margin: 0px 0px 20px 0px;
   }

   &__text {
      flex: 1 1 auto;
   }
}
.advantages {
   &__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

   &__column {
      flex: 0 1 50%;
      padding: 0px 15px 30px 15px;

		@media (max-width: 565px) {
			flex: 1 1 100%;
			padding: 0px 15px 15px 15px;
		}
   }

   &__icon {
      margin: 0px 0px 20px 0px;

		@media (max-width: 565px) {
			margin: 0;
		}
   }

   &__title {
		margin: 0px 0px 10px 0px;
   }

   &__text {
   }
}
.bonus {
   &__body {
      padding: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 6px solid #e5e5e5;
      border-radius: 17px;

		@media (max-width: 565px) {
			flex-direction: column;
			padding: 10px;
		}
   }

   &__icon {
      margin: 0px 30px 0px 0px;

		img {
			max-width: 100%;
		}
   }

   &__content {
		@media (min-width: 565px) {
			flex: 0 1 525px;
		}
   }

   &__heading {
   }

   &__text {
      font-size: 21px;
   }
}
.learning {

   &__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

   &__column {
      flex: 0 1 33.3333%;
      padding: 30px 20px 20px 20px;

      &:nth-child(2) {
         .learning__item {
            background-color: #188B30;
            color: #f5f5f5;
         }

         .learning__count {
            background-color: #e5e5e5;
            color: #188B30;
         }
      }

      @media (max-width: 991px) {
         flex: 1 1 100%;

         &:nth-child(3) {
            order: 4;
         }
      }

      @media (max-width: 565px) {
         padding: 25px 20px 20px 20px;
      }
   }

   &__item {
      padding: 30px 30px;
      background-color: #e5e5e5;
      border-radius: 23px;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;

      @media (max-width: 565px) {
         padding: 20px 20px;
      }
   }

   &__count {
      width: 75px;
      height: 75px;
      background-color: #188B30;
      border-radius: 50%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      color: #f5f5f5;
      font-size: 27px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -27px;
      right: 15px;
   }

   &__title {
		margin: 0px 0px 20px 0px;
      width: 80%;
      flex: 1 1 auto;
   }

   &__text {
      p {
         margin: 0px 0px 15px 0px;

         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }
   }
}
.capabilities {
   &__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 15px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
	}

   &__text {
		padding-bottom: 30px;
		padding-left: 65px;
      background: url('../images/online-shool/check.svg') left top no-repeat;

      @media (max-width: 768px) {
         padding-bottom: 20px;
			padding-left: 60px;
      }

      @media (max-width: 565px) {
         padding-bottom: 15px;
			padding-left: 50px;
      }
   }
}
.program {
   &__text {
		margin: 0px 0px 40px 0px;
   }
}
.program-accordion {

	&__item {
		border-top: 1px solid #353535;
	
		&:last-child {
			border-bottom: 1px solid #353535;
		}
	}

	&__head {
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		&:hover {
			color: #1FC742;
		}

		i {
			transition: all 0.3s ease 0s;
		}

		&.collapsed {
			i {
				transform: rotate(0deg);
			}
		}

		i:before {
			font-size: 25px;
			transform: rotate(90deg);
		}

		i {
			transform: rotate(90deg);
		}

		@media (max-width: 565px) {
			padding: 10px;
		}
	}

	&__title {
		margin: 0px 20px 0px 0px;
	}

	&__lesson {
		font-weight: 700;
	}

	&__body {
		padding: 20px 0px 0px 0px;
	}

	&__list {
		padding: 0 30px 0px 35px;
	}

   &__text {
		list-style-type: disc;
		padding: 0;

		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
   }
}
.teacher {

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 100%;
		max-width: 505px;
	}

	&__name {
		padding: 0px 0px 15px 0px;
		margin: 0px 0px 15px 0px;
		font-size: 22px;
		line-height: 1.35;
		letter-spacing: 1.5px;
		border-bottom: 2px solid #188B30;
	}

	&__text {
		font-size: 18px;
		line-height: 1.4;
		letter-spacing: 1.5px;

		p {
			margin: 0px 0px 30px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		@media (max-width: 768px) {
			font-size: 18px;
		}

		@media (max-width: 565px) {
			p {
				margin: 0px 0px 15px 0px;
			}
		}
	}

	&__image {
		flex: 1 1 auto;
		text-align: center;
		margin: 0px 0px 0px 20px;

		img {
			max-width: 100%;
		}
		
		@media (max-width: 768px) {
			display: none;
		}
	}
}
.submit {

		&__body {
			display: flex;
			justify-content: flex-end;
			position: relative;
			
			@media (max-width: 992px) {
				flex-direction: column;
				align-items: center;
			}
		}

		&__price {
			width: 400px;
			padding: 80px;
			background-color: #188B30;
			border-radius: 23px;
			font-size: 30px;
			color: #F5F5F5;
			font-weight: 700;
			line-height: 1.3;
			display: flex;
			justify-content:center;
			align-items: center;
			margin: 0px 0px -50px 0px;
			position: relative;
			z-index: 2;

			@media (max-width: 565px) {
				width: 260px;
				padding: 20px 20px;
			}

			@media (min-width: 992px) {
				width: 35%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				padding: 80px;
				display: flex;
				justify-content:center;
				align-items: center;
			}
		}

		&__wrapper {
		}

		&__name {
			margin: 0px 0px 20px 0px;
		}

		&__cost {
			font-weight: 500;
		}

		&__content {
			flex: 0 0 73%;
			padding: 50px 0;
			border-radius: 23px;
			background-color: #e5e5e5;
			display: flex;
			justify-content:center;
			align-items: center;
			
			@media (max-width: 992px) {
				width: 100%;
				padding: 80px 20px 50px;
			}

			@media (max-width: 565px) {
				padding: 60px 20px 30px;
			}
		}

		&__title {
			margin: 0px 0px 20px 0px;
			font-size: 24px;
			line-height: 1.3;
			font-weight: 700;
		}

		&__subtitle {
			font-size: 20px;
			color: #188B30;
			font-weight: 500;
			margin: 0px 0px 20px 0px;
		}

		&__list {
			padding: 0px 0px 0px 25px;
		}

		&__item {
			list-style-type: disc;
			padding: 0;
			margin: 0px 0px 20px 0px;
		}

		&__btn {
			width: 420px;
			padding: 15px 0;
			text-align: center;
			color:#fff;
			font-size: 18px;
			font-weight: 500;
			background-color: #188B30;
			border: 0;
			border-radius: 23px;
			transition: all 0.3s ease 0s;

			&:hover {
				background-color: #1FC742;
			}

			@media (max-width: 565px) {
				width: 100%;
			}
		}
}
.questions-accordion {

	&__item {
		border-top: 1px solid #353535;
	
		&:last-child {
			border-bottom: 1px solid #353535;
		}
	}

	&__head {
		padding: 10px 20px 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		&:hover {
			color: #1FC742;
		}

		i {
			margin: 0px 0px 0px 20px;
			transition: all 0.3s ease 0s;
		}

		&.collapsed {
			i {
				transform: rotate(0deg);
			}
		}

		i:before {
			font-size: 25px;
			transform: rotate(90deg);
		}

		i {
			transform: rotate(90deg);
		}
	}

	&__body {
		padding: 20px 20px 0px 20px;

		p {
			font-size: 18px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__list {
		padding: 0 30px 0px 35px;
	}

   &__text {
		list-style-type: disc;
		padding: 0;

		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
   }
}


 