body {
  background-color: #ffffff;
  line-height: 1.4;
  color: #1d1d1b;
}
body.lock {
  overflow: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
}
@media (max-width: 992px) {
  .title {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 565px) {
  .title {
    font-size: 24px;
  }
}

.wrapper-title {
  padding-left: 70px;
  border-left: 10px solid #daaf71;
}
@media (max-width: 768px) {
  .wrapper-title {
    padding-left: 40px;
  }
}
@media (max-width: 565px) {
  .wrapper-title {
    padding-left: 20px;
  }
}

.button-subscribe {
  width: 100%;
  padding: 20px;
  display: inline-block;
  color: #1d1d1b;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  border: 1px solid #daaf71;
  transition: all 0.3s ease 0s;
}
.button-subscribe:hover {
  color: #ffffff;
  background-color: #daaf71;
}
.button-subscribe_brown {
  color: #daaf71;
  background-color: #fff;
}
.button-subscribe_brown:hover {
  color: #c47d2f;
  background-color: #fff;
  border-color: #c47d2f;
}
@media (max-width: 768px) {
  .button-subscribe {
    font-size: 20px;
  }
}

.decor:hover {
  box-shadow: 14px -14px white, 15px -15px #daaf71;
}
.decor__wrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #daaf71;
  position: absolute;
  top: -20px;
  left: 20px;
}

.header {
  background-color: transparent;
  padding: 80px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .header {
    padding: 50px 0;
  }
}
@media (max-width: 565px) {
  .header {
    padding: 25px 0;
  }
}
.header.scroll {
  padding: 10px 0;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header.scroll .header__logo a {
  width: 50px;
}
.header__body {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 900px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background-color: #1d1d1b;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .header__burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}
.header__logo {
  flex: 1 1 auto;
  position: relative;
  z-index: 3;
}
.header__logo a {
  display: inline-block;
  width: 90px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .header__nav {
    display: block;
    padding: 100px 0px 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0;
    transform: translateY(-120%);
    background-color: #ffffff;
    transition: transform 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .header__nav.active {
    transform: translateY(0%);
  }
}
.header__list {
  display: flex;
  margin: 0;
}
.header__list li {
  padding-left: 0;
  margin: 0px 0px 0px 70px;
}
@media (max-width: 1100px) {
  .header__list li {
    margin: 0px 0px 0px 30px;
  }
}
@media (max-width: 992px) {
  .header__list li {
    margin: 0px 0px 0px 30px;
  }
}
@media (max-width: 900px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}
.header__link {
  color: #1d1d1b;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  color: #daaf71;
}

.header__nav.active ~ .header__overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  background-color: rgba(17, 17, 17, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1;
}

.main-magazine {
  padding: 230px 0px 100px;
}
@media (max-width: 992px) {
  .main-magazine {
    padding: 150px 0px 50px;
  }
}
.main-magazine__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .main-magazine__body {
    flex-direction: column;
  }
}
.main-magazine__content {
  flex: 0 1 44%;
  order: 1;
}
@media (max-width: 992px) {
  .main-magazine__content {
    order: 2;
  }
}
.main-magazine__text-img {
  margin: 0px 0px 75px 0px;
}
@media (max-width: 992px) {
  .main-magazine__text-img {
    margin: 0px 0px 40px 0px;
  }
}
.main-magazine__button {
  width: 100%;
  max-width: 480px;
}
.main-magazine__img {
  margin: 0px 0px 0px 50px;
  flex: 0 1 56%;
  order: 2;
}
@media (max-width: 992px) {
  .main-magazine__img {
    margin: 0;
  }
}

.about-magazine {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 992px) {
  .about-magazine {
    margin: 0px 0px 50px 0px;
  }
}
.about-magazine__description {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}
.about-magazine__title {
  margin: 0px 0px 20px 0px;
}
.about-magazine__text {
  color: #808181;
  font-size: 18px;
}

.numbers {
  margin: 0px 0px 100px 0px;
  padding: 100px 0 70px;
  background-color: #ededed;
}
@media (max-width: 992px) {
  .numbers {
    margin: 0px 0px 50px 0px;
    padding: 70px 0 40px;
  }
}
.numbers__body {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.numbers__column {
  flex: 0 1 25%;
  padding: 0 15px 30px;
}
@media (max-width: 992px) {
  .numbers__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 565px) {
  .numbers__column {
    flex: 1 1 100%;
  }
}

.item-numbers {
  background-color: #fff;
  margin: 0 15px;
  padding: 70px 15px;
  text-align: center;
}
@media (max-width: 1100px) {
  .item-numbers {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .item-numbers {
    padding: 40px 15px;
  }
}
.item-numbers__count {
  margin: 0px 0px 10px 0px;
  font-size: 48px;
  color: #daaf71;
  white-space: nowrap;
}
.advantages {
  padding: 0px 0px 250px;
}
@media (max-width: 1350px) {
  .advantages {
    padding: 0px 0px 190px;
  }
}
@media (max-width: 1100px) {
  .advantages {
    padding: 0px 0px 160px;
  }
}
@media (max-width: 992px) {
  .advantages {
    padding: 0px 0px 140px;
  }
}
@media (max-width: 900px) {
  .advantages {
    padding: 0px 0px 70px;
  }
}
.advantages__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .advantages__body {
    flex-direction: column;
  }
}
.advantages__content {
  flex: 1 1 auto;
}
.advantages__heading {
  margin: 0px 90px 0px 0px;
  flex: 0 1 400px;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (max-width: 1150px) {
  .advantages__heading {
    padding-top: 0px;
    padding-bottom: 0px;
    flex: 1 1 auto;
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 992px) {
  .advantages__heading {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 768px) {
  .advantages__heading {
    margin: 0px 0px 30px 0px;
  }
}
.advantages__title {
  margin: 0px 0px 20px 0px;
}
.advantages__text {
  color: #808181;
  font-size: 18px;
}
.advantages__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 60px;
}
@media (max-width: 768px) {
  .advantages__info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }
}

.item-advantages {
  width: 100%;
  max-width: 390px;
  padding: 30px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 565px) {
  .item-advantages {
    padding: 20px;
  }
}
.item-advantages__icon {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 565px) {
  .item-advantages__icon {
    margin: 0px 20px 0px 0px;
  }
}
.item-advantages__title {
  margin: 0px 0px 16px 0px;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 565px) {
  .item-advantages__title {
    font-size: 20px;
  }
}
.item-advantages__text {
  color: #808181;
  font-size: 14px;
}

.join {
  margin: 0px 0px 250px 0px;
  background-color: #daaf71;
}
@media (max-width: 1350px) {
  .join {
    margin: 0px 0px 200px;
  }
}
@media (max-width: 1100px) {
  .join {
    margin: 0px 0px 160px;
  }
}
@media (max-width: 992px) {
  .join {
    margin: 0px 0px 140px;
  }
}
@media (max-width: 900px) {
  .join {
    margin: 0px 0px 110px;
  }
}
.join__body {
  padding: 35px 0px 0px 80px;
  position: relative;
}
@media (max-width: 992px) {
  .join__body {
    padding: 35px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .join__body {
    padding: 15px 0px 0px 0px;
  }
}
.join__content {
  width: 50%;
  max-width: 590px;
  position: relative;
  transform: translateY(35px);
}
@media (max-width: 768px) {
  .join__content {
    width: 100%;
    max-width: 100%;
  }
}
.join__text {
  margin: 0px 0px 40px 0px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .join__text {
    font-size: 24px;
  }
}
@media (max-width: 565px) {
  .join__text {
    font-size: 22px;
  }
}
.join__button {
  width: 100%;
  max-width: 420px;
}
.join__img {
  width: 462px;
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
}
@media (max-width: 1350px) {
  .join__img {
    width: 380px;
    right: 7%;
  }
}
@media (max-width: 1100px) {
  .join__img {
    right: 3%;
  }
}
@media (max-width: 900px) {
  .join__img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .join__img {
    display: none;
  }
}

.journal-headings {
  padding: 0px 0 70px;
}
.journal-headings__title {
  margin: 0px 0px 90px 0px;
}
@media (max-width: 992px) {
  .journal-headings__title {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 768px) {
  .journal-headings__title {
    margin: 0px 0px 30px 0px;
  }
}
.journal-headings__body {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.journal-headings__column {
  flex: 0 1 33.3333%;
  padding: 0 15px 60px;
}
@media (max-width: 1100px) {
  .journal-headings__column {
    padding: 0 15px 30px;
  }
}
@media (max-width: 992px) {
  .journal-headings__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 565px) {
  .journal-headings__column {
    flex: 1 1 100%;
  }
}

.item-journal-headings {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 15px;
  padding: 40px 35px;
  background-color: #fff;
  border: 1px solid #dadada;
}
@media (max-width: 1100px) {
  .item-journal-headings {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .item-journal-headings {
    padding: 20px 20px;
  }
}
.item-journal-headings:hover {
  box-shadow: 14px -14px white, 15px -15px #daaf71;
}
.item-journal-headings__icon {
  margin: 0px 0px 16px 0px;
}
.item-journal-headings__icon img {
  width: 100px;
  height: auto;
}
.item-journal-headings__title {
  flex: 1 1 auto;
  margin: 0px 0px 16px 0px;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 565px) {
  .item-journal-headings__title {
    font-size: 20px;
  }
}
.item-journal-headings__text {
  color: #808181;
  font-size: 14px;
}

.subscription {
  margin: 0px 0px 130px 0px;
}
@media (max-width: 992px) {
  .subscription {
    margin: 0px 0px 70px 0px;
  }
}
.subscription__title {
  margin: 0px 0px 90px 0px;
}
@media (max-width: 992px) {
  .subscription__title {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 768px) {
  .subscription__title {
    margin: 0px 0px 30px 0px;
  }
}
.subscription__body {
  margin: 0px 0px 60px 0px;
}
.subscription__footer {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 24px;
  color: #1d1d1b;
  text-align: center;
}
.subscription__footer a {
  color: #daaf71;
  font-weight: 700;
}
.subscription__footer a:hover {
  color: #c47d2f;
}
@media (max-width: 768px) {
  .subscription__footer {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .tabs ul.nav.nav-tabs {
    display: flex;
  }
}
.tabs .nav-tabs {
  border: none;
}

.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs .nav.nav-tabs li {
  flex: 0 1 380px;
}
@media (max-width: 565px) {
  .tabs .nav.nav-tabs li {
    flex: 1 1 auto;
  }
}

.tabs .nav.nav-tabs a {
  width: 100%;
  padding: 22px 10px;
  font-size: 24px;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center;
  background-color: #ededed;
  border: none;
}
@media (max-width: 768px) {
  .tabs .nav.nav-tabs a {
    font-size: 20px;
  }
}

.tabs .nav.nav-tabs li a.active {
  background-color: #daaf71;
  color: #ffffff;
  font-weight: 700;
}

.tabs .nav-tabs + .tab-content {
  margin-top: -39px;
  padding: 160px 120px 55px;
  border: 1px solid #dadada;
}
@media (max-width: 1350px) {
  .tabs .nav-tabs + .tab-content {
    padding: 80px 50px 50px;
  }
}
@media (max-width: 1100px) {
  .tabs .nav-tabs + .tab-content {
    padding: 70px 15px 25px;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tab-subscription {
  display: flex;
  justify-content: space-between;
}
.tab-subscription ul {
  margin: 0;
}
.tab-subscription ul li {
  padding-left: 0;
}
.tab-subscription__info {
  flex: 0 1 47%;
}
.tab-subscription__info li {
  display: flex;
  align-items: center;
  color: #737373;
  font-size: 24px;
}
.tab-subscription__info li img {
  width: 58px;
  height: 54px;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 768px) {
  .tab-subscription__info li {
    font-size: 20px;
  }
}
.tab-subscription__info li:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.tab-subscription__img {
  margin: 0px 0px 40px 0px;
}
.tab-subscription__subscription {
  flex: 0 1 47%;
}
.tab-subscription__subscription li:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.tab-subscription__block:not(:last-child) {
  margin: 0px 0px 60px 0px;
}
.tab-subscription__text {
  margin: 0px 0px 30px 0px;
  font-size: 24px;
  color: #737373;
}
@media (max-width: 768px) {
  .tab-subscription__text {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .tab-subscription {
    flex-direction: column;
    align-items: center;
  }
  .tab-subscription .tab-subscription__info {
    margin: 0px 0px 60px 0px;
  }
  .tab-subscription .tab-subscription__info,
.tab-subscription .tab-subscription__subscription {
    width: 100%;
    max-width: 600px;
  }
}

footer {
  margin: 0;
  line-height: 1.4;
}

.footer {
  padding: 60px 0;
  background-color: #EDEDED;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
  .footer .item-footer-contact {
    margin: 0px 0px 15px 0px;
  }
}

.footer-top {
  margin: 0px 0px 50px 0px;
  display: flex;
}
@media (max-width: 1100px) {
  .footer-top {
    display: block;
  }
}
@media (max-width: 768px) {
  .footer-top {
    margin: 0px 0px 30px 0px;
  }
}
.footer-top__logo {
  flex: 0 1 40%;
}
@media (max-width: 1100px) {
  .footer-top__logo {
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer-top__logo {
    margin: 0px 0px 30px 0px;
  }
}
.footer-top__contacts {
  flex: 0 1 60%;
  display: flex;
}
@media (max-width: 768px) {
  .footer-top__contacts {
    display: block;
  }
}
.footer-top__column {
  padding: 0px 30px 0px 0px;
  flex: 0 1 25%;
}
.footer-top__column_big {
  flex: 0 1 50%;
}

.footer-logo {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  color: #1D1D1B;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
.footer-logo img {
  width: 90px;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 565px) {
  .footer-logo {
    font-size: 20px;
  }
  .footer-logo img {
    width: 70px;
    margin: 0px 10px 0px 0px;
  }
}

.item-footer-contact {
  color: #1D1D1B;
  font-size: 18px;
  font-weight: 700;
}
.item-footer-contact__text {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
  color: #737373;
}
.item-footer-contact a {
  color: inherit;
}
.item-footer-contact a:hover {
  color: #daaf71;
}

.footer-bottom {
  display: flex;
}
@media (max-width: 1100px) {
  .footer-bottom {
    display: block;
  }
}
.footer-bottom__social {
  order: 1;
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
}
.footer-bottom__social_wrapper {
  flex: 1 1 auto;
}
@media (max-width: 1100px) {
  .footer-bottom__social_wrapper {
    margin: 0px auto 30px;
  }
}
@media (max-width: 1100px) {
  .footer-bottom__social {
    text-align: center;
  }
}
.footer-bottom__copyright {
  font-size: 18px;
}
.footer-bottom__info {
  order: 2;
  flex: 0 1 60%;
}
@media (max-width: 1100px) {
  .footer-bottom__info {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 768px) {
  .footer-bottom__info {
    margin: 0px 0px 30px 0px;
  }
}
.footer-bottom__column {
  padding: 0px 30px 0px 0px;
  flex: 0 1 25%;
}
.footer-bottom__column_big {
  flex: 1 1 auto;
}
.footer-bottom__title {
  margin: 0px 0px 30px 0px;
  color: #1D1D1B;
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .footer-bottom__title {
    margin: 0px 0px 20px 0px;
  }
}
.footer-bottom__contacts {
  display: flex;
}
@media (max-width: 768px) {
  .footer-bottom__contacts {
    display: block;
  }
}

.social-block {
  display: flex;
}
.social-block a {
  margin: 0px 20px 0px 0px;
}
.social-block a:hover img {
  transform: translateY(-3px);
}